{{#partial "page"}}

<div class="container">
  {{> components/gift-certificate/navigation gift_page='balance'}}
  <main class="account account--fixed gift__certificates">
    <div class="account-body">
      <section class="account-content">
        <h1 class="page-heading">{{lang 'gift_certificate.heading' }}</h1>
        <h3 class="domaine-display">{{lang 'gift_certificate.balance.heading'}}</h3>
        <p class="freight-text">{{lang 'gift_certificate.balance.intro' }} </p>
        
        {{#if gift_certificate}}
        {{#if gift_certificate.error}}
        {{> components/common/alert-error gift_certificate.error}}
        {{else}}
        <h1>{{gift_certificate.balance.formatted}}</h1>
          <h3>{{gift_certificate.code}}</h3>
        {{/if}}
        {{/if}}
        
        <form class="form form--oneField" id="gift-certificate-balance" method="get">
          <input type="hidden" name="action" value="balance">
          <div class="form-field">
            <label class="form-label" for="giftcertificatecode">
              {{lang 'forms.gift_certificate.balance.code' }}
            </label>
            <div>
              <input class="form-input" id="giftcertificatecode" name="giftcertificatecode">
              <input type="submit"
              value="{{lang 'forms.gift_certificate.balance.submit_value' }}">
            </div>
          </div>
        </form>
      </section>
    </div>
  </main>
</div>


<main class="account account--fixed gift__certificates">
</main>
{{/partial}}
{{> layout/base page_content="account" page_title="Gift Card Balance | Pepper"}}
