{{#if banners.top}}
<div class="banners" data-banner-location="top">
    {{#each (limit banners.top_metadata 1)}}
    <div class="banner" data-event-type="promotion" data-entity-id="{{this.id}}" data-name="{{this.banner-name}}" data-position="{{this.location}}" data-banner-id="{{this.banner-name}}">
        <div data-event-type="promotion-click">
            {{{this.content}}}
        </div>
    </div>
    {{/each}}
</div>
{{/if}}
<header class="header {{addClass}} {{currentPage}}" role="banner" id="menu">
    <div class="container">
        <a href="#" class="mobileMenu-toggle" data-mobile-menu-toggle="menu" id="prueba">
            <span class="mobileMenu-toggleIcon">Toggle menu</span>
        </a>
        <a href="{{urls.cart}}" class="mobileCart">
            <svg width="17px" height="17px" viewBox="0 0 17 17">
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="cart-icon" fill="#C7C8C7" fill-rule="nonzero">
                        <path d="M11.2077923,3.95108184 C11.1558442,1.76387583 9.5194805,0 7.4935065,0 C5.46753247,0 3.83116883,1.76387583 3.77922078,3.95108184 L0,3.95108184 L2.35064935,15 L12.6493506,15 L15,3.95108184 L11.2077923,3.95108184 Z M7.4935065,1.19943556 C8.90909083,1.19943556 10.064935,2.42709313 10.1168831,3.96519285 L4.87012987,3.96519285 C4.92207792,2.42709313 6.07792205,1.19943556 7.4935065,1.19943556 Z M11.7792208,13.8146754 L8.012987,13.8146754 L3.20779221,13.8146754 L1.36363636,5.1364064 L13.6103896,5.1364064 L11.7792208,13.8146754 Z" id="Shape"></path>
                    </g>
                </g>
            </svg>
        </a>
        {{> components/common/navigation-left}}
        
        {{#if page_type '===' 'default'}}
            <h1 class="header-logo header-logo--{{theme_settings.logo-position}}">
                {{> components/common/store-logo}}
            </h1>
        {{else}}
            <div class="header-logo header-logo--{{theme_settings.logo-position}}">
                {{> components/common/store-logo}}
            </div>
        {{/if}}
        {{> components/common/navigation-right}}
        {{!-- {{{region name="header_bottom"}}} --}}
        
        {{!-- TODO: Come back to this, looks like it needs some code love (extra padding on the whole page) --}}
        {{!> components/common/shop-menu posts=blog.recent_posts secondary_posts=blog.posts}}
        {{!> components/common/stories-menu posts=blog.recent_posts secondary_posts=blog.posts}}
        
        {{> components/common/mobile-menu}}
        <div class="dropdown dropdown--quickSearch" id="quickSearch" aria-hidden="true" tabindex="-1" data-prevent-quick-search-close></div>
    </div>
</header>
