{{#if banners.top}}
<div class="banners" data-banner-location="top">
    {{#each (limit banners.top_metadata 1)}}
    <div class="banner" data-event-type="promotion" data-entity-id="{{this.id}}" data-name="{{this.banner-name}}" data-position="{{this.location}}" data-banner-id="{{this.banner-name}}">
        <div data-event-type="promotion-click">
            {{{this.content}}}
        </div>
    </div>
    {{/each}}
</div>
{{/if}}
<header class="header {{addClass}} {{currentPage}}" role="banner" id="menu">
    <div class="container">
        <a href="#" class="mobileMenu-toggle" data-mobile-menu-toggle="menu" id="prueba">
            <span class="mobileMenu-toggleIcon">Toggle menu</span>
        </a>
        <a href="#" class="mobileMenu-toggle-senses hide">
            <span class="mobileMenu-toggleIcon">Toggle menu</span>
        </a>
        {{> components/common/navigation-left}}
        
        {{#if page_type '===' 'default'}}
            <h1 class="header-logo header-logo--{{theme_settings.logo-position}}">
                {{> components/common/store-logo}}
            </h1>
        {{else}}
            <div class="header-logo header-logo--{{theme_settings.logo-position}}">
                {{> components/common/store-logo}}
            </div>
        {{/if}}
        {{> components/common/navigation-right}}
        {{!-- {{{region name="header_bottom"}}} --}}
        
        {{!-- TODO: Come back to this, looks like it needs some code love (extra padding on the whole page) --}}
        {{!> components/common/shop-menu posts=blog.recent_posts secondary_posts=blog.posts}}
        {{!> components/common/stories-menu posts=blog.recent_posts secondary_posts=blog.posts}}
        
        {{!> components/common/mobile-menu}}
        <div class="mobile-menu">
          <ul class="list-container main-list-container">
            <li>
              <a class="menu-link main" href="/stories/">Stories</a>
             </li>
             <li>
              <a class="menu-link main" href="/about-us/">About Pepper</a>
             </li>
          </ul>
        </div>
        <div class="dropdown dropdown--quickSearch" id="quickSearch" aria-hidden="true" tabindex="-1" data-prevent-quick-search-close></div>
    </div>
</header>
