{{#if banners.top}}
<div class="banners" data-banner-location="top">
    {{#each (limit banners.top_metadata 1)}}
    <div class="banner" data-event-type="promotion" data-entity-id="{{this.id}}" data-name="{{this.banner-name}}" data-position="{{this.location}}" data-banner-id="{{this.banner-name}}">
        <div data-event-type="promotion-click">
            {{{this.content}}}
        </div>
    </div>
    {{/each}}
</div>
{{/if}}
<header class="header {{addClass}} {{currentPage}}" role="banner" id="menu">
    <div class="container">
        <a href="#" class="mobileMenu-toggle" data-mobile-menu-toggle="menu" id="prueba">
            <span class="mobileMenu-toggleIcon">Toggle menu</span>
        </a>
        <a href="{{urls.cart}}" class="mobileCart">

<!-- Generator: Adobe Illustrator 24.0.3, SVG Export Plug-In  -->
<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    width="19.5px" height="19.5px" viewBox="0 0 19.5 19.5" style="enable-background:new 0 0 19.5 19.5;"
    xml:space="preserve">
    <style type="text/css">
        .st0 {
            fill: #C7C8C7;
        }
    </style>
    <defs>
    </defs>
    <path class="st0" d="M19.4,5.1C19.4,5,19.3,5,19.2,5h-4.6c-0.2-2.8-2.3-5-4.9-5S5,2.2,4.8,5H0.2C0.2,5,0.1,5,0.1,5.1
	C0,5.2,0,5.2,0,5.3l3,14c0,0.1,0.1,0.2,0.2,0.2h13c0.1,0,0.2-0.1,0.2-0.2l3-14C19.5,5.2,19.5,5.2,19.4,5.1z M6.7,5
	c0.2-1.7,1.5-3,3.1-3s2.9,1.3,3.1,3H6.7z M17.2,7L15,17.5h-4.6H4.5L2.3,7H17.2z" />
</svg>


        </a>
        {{> components/common/navigation-left}}
        
        {{#if page_type '===' 'default'}}
            <h1 class="header-logo header-logo--{{theme_settings.logo-position}}">
                {{> components/common/store-logo}}
            </h1>
        {{else}}
            <div class="header-logo header-logo--{{theme_settings.logo-position}}">
                {{> components/common/store-logo}}
            </div>
        {{/if}}
        {{> components/common/navigation-right}}
        {{!-- {{{region name="header_bottom"}}} --}}
        
        {{!-- TODO: Come back to this, looks like it needs some code love (extra padding on the whole page) --}}
        {{!> components/common/shop-menu posts=blog.recent_posts secondary_posts=blog.posts}}
        {{!> components/common/stories-menu posts=blog.recent_posts secondary_posts=blog.posts}}
        
        {{> components/common/mobile-menu}}
        <div class="dropdown dropdown--quickSearch" id="quickSearch" aria-hidden="true" tabindex="-1" data-prevent-quick-search-close></div>
    </div>
</header>
