<section class="latest-posts">
  <div class="container">
    <h2>
        {{#if text}}
            {{text}}<br />
            {{text2}}
        {{else}}
            your guide to connection, wine, jammies, travel,<br />
            good eats, love, oh and did we mention wine?
        {{/if}}
    </h2>
    <div class="posts-container">
        {{#if sense}}
          {{#each posts}}
              {{!-- {{#contains (join (pluck tags 'name') ', ') 'touch' }} --}}
                {{> components/blog/post post=this}}
              {{!-- {{/contains}} --}}
          {{/each}}
        {{else}}
          {{#each posts}}
              {{> components/blog/post post=this}}
          {{/each}}
        {{/if}}
        <p class="button-wrapper">
          <a class="btn btn__primary btn__block" href="/stories">Explore more stories</a>
        </p>
    </div>
  </div>
</section>
