<div class="mobile-menu">
  <ul class="list-container main-list-container">
    <li>
      <a class="menu-link main">My Account</a>
      <ul class="list-container">
        
        {{#if customer}}
          <li><a href="/account.php?action=address_book" class="menu-link">Address Book</a></li>
          <li><a href="{{urls.account.index}}" class="menu-link">Account Settings</a></li>
          <li><a href="{{urls.auth.logout}}" class="menu-link">Logout</a></li>
        {{else}}
          <li><a href="{{urls.auth.login}}" class="menu-link">Sign In</a></li>
        {{/if}}
        
      </ul>
    </li>
  </ul>
  <ul class="list-container main-list-container">
    <li>
      <a class="menu-link main">Shop</a>
      <ul class="list-container">
        {{#withSort categories 'name' reverse='true'}}
          {{#if name '==' 'Shop'}}
            <li><a class="menu-link shop-all" href="/shop/">Shop All</a></li>
            {{#each this.children as |child|}}
              <li><a class="menu-link" href="{{child.url}}">{{child.name}}</a></li>
            {{/each}}
          {{/if}}
        {{/withSort}}
      </ul>
    </li>
  </ul>
  {{!-- TODO: come back and add brands --}}
  <ul class="list-container main-list-container">
    <li>
      <a class="menu-link main">Explore Senses</a>
      <ul class="list-container">
        <li><a href="/touch/" class="menu-link">Touch</a></li>
        <li><a href="/taste/" class="menu-link">Taste</a></li>
        <li><a href="/aroma/" class="menu-link">Aroma</a></li>
        <li><a href="/gaze/" class="menu-link">Gaze</a></li>
        <li><a href="/listen/" class="menu-link">Listen</a></li>
      </ul>
    </li>
  </ul>
  <ul class="list-container main-list-container">
    <li>
      <a class="menu-link main" href="/stories/">Stories</a>
    </li>
    <li>
      <a class="menu-link main" href="/about-us/">About Pepper</a>
    </li>
  </ul>
</div>
