<div class="mobile-menu">
  <ul class="list-container main-list-container">
    <li>
      {{#if customer}}
      <a class="menu-link main">Hi, {{{capitalize (first (split customer.name ' '))}}}</a>
      {{/if}}
      <ul class="list-container">
        
        {{#if customer}}
          <li><a href="/account.php?action=address_book" class="menu-link">Address Book</a></li>
          <li><a href="{{urls.account.index}}" class="menu-link">Account Settings</a></li>
          <li><a href="{{urls.auth.logout}}" class="menu-link">Logout</a></li>
        {{else}}
          <li><a href="{{urls.auth.login}}" class="menu-link">Sign In</a></li>
        {{/if}}
        
      </ul>
    </li>
  </ul>
  <ul class="list-container main-list-container">
    <li>
      <a href="/shop/" class="menu-link main">Shop</a>
      <ul class="list-container">
        {{#withSort categories 'name' reverse='true'}}
          {{#if name '==' 'Shop'}}
            {{#each this.children as |child|}}
              <li><a class="menu-link" href="{{child.url}}">{{child.name}}</a></li>
            {{/each}}
          {{/if}}
        {{/withSort}}
      </ul>
    </li>
  </ul>
  <ul class="list-container main-list-container">
    <li>
      <a class="menu-link main" href="/learn/">Learn</a>
    </li>
    <li>
      <a class="menu-link main" href="/about-us/">About Pepper</a>
    </li>
  </ul>
</div>
