<nav class="navUser left-nav">
  {{> components/common/currency-selector}}

  <ul class="navUser-section navUser-section--alt">
      <li class="navUser-item shop__menu--parent">
          <a class="navUser-action is-text" href="/shop/">Shop</a>
          <div class="shop__menu--child">
            <ul class="category__menu--list">
              {{#withSort categories 'name' reverse='true'}}
                {{!-- Only Shop sub-categories --}}
                {{#if name '==' 'Shop'}}
                  <li class="list-item sub-item child-item shop-link">
                    <a href="/shop/">Shop All</a>
                  </li>
                  {{#each children as |child|}}
                    <li class="list-item sub-item child-item">
                      <a href="{{child.url}}">{{child.name}}</a>
                      {{#if child.children}}
                        <ul class="subcategory__menu--list">
                        {{#each children as |grandchild|}}
                        {{#if grandchild.count '>' 0}}
                          <li class="list-item sub-item grandchild-item">
                            <a href="{{grandchild.url}}" title="{{grandchild.name}}">
                              <div>
                                {{grandchild.name}}
                              </div>
                            </a>
                          </li>
                        {{/if}}
                        {{/each}}
                        </ul>
                      {{/if}}
                    </li>
                  {{/each}}
                {{/if}}
                {{!-- Only Brand children --}}
                {{#if name '==' 'Brands'}}
                    <li class="list-item sub-item child-item brand-list">
                      <a href="#">Brands</a>
                      {{#if this.children}}
                        <ul class="subcategory__menu--list">
                          {{#each this.children as |child|}}
                            {{#if child.count '>' 1}}
                              <li class="list-item sub-item grandchild-item">
                                <a href="{{child.url}}">{{child.name}}</a>
                              </li>
                            {{/if}}
                          {{/each}}
                        </ul>
                      {{/if}}
                  </li>
                {{/if}}
              {{/withSort}}
            </ul>
          </div>
      </li>
      <li class="navUser-item stories__menu--parent">
          <a class="navUser-action is-text" href="/stories">Stories</a>
          <div class="shop__menu--child">
            <ul class="category__menu--list stories__menu--list">
              <li class="list-item sub-item child-item">
                <a href="#">Senses</a>
                  <ul class="subcategory__menu--list">
                    <li class="list-item sub-item grandchild-item">
                      <a href="/stories/tag/touch">
                        <div>
                          Touch
                        </div>
                      </a>
                    </li>
                    <li class="list-item sub-item grandchild-item">
                      <a href="/stories/tag/taste">
                        <div>
                          Taste
                        </div>
                      </a>
                    </li>
                    <li class="list-item sub-item grandchild-item">
                      <a href="/stories/tag/aroma">
                        <div>
                          Aroma
                        </div>
                      </a>
                    </li>
                    <li class="list-item sub-item grandchild-item">
                      <a href="/stories/tag/gaze">
                        <div>
                          Gaze
                        </div>
                      </a>
                    </li>
                    <li class="list-item sub-item grandchild-item">
                      <a href="/stories/tag/listen">
                        <div>
                          Listen
                        </div>
                      </a>
                    </li>
                  </ul>
              </li>

              <li class="list-item sub-item child-item read-more">
                <a href="/stories/">Read more editorials</a>
              </li>

              <li class="list-item sub-item child-item">
                <a href="#">Categories</a>
                <ul class="subcategory__menu--list">
                  <li class="list-item sub-item grandchild-item">
                    <a href="#">
                      <div>
                        Experts
                      </div>
                    </a>
                  </li>
                  <li class="list-item sub-item grandchild-item">
                    <a href="#">
                      <div>
                        Inspiration
                      </div>
                    </a>
                  </li>
                  <li class="list-item sub-item grandchild-item">
                    <a href="#">
                      <div>
                        Love Scopes
                      </div>
                    </a>
                  </li>
                  <li class="list-item sub-item grandchild-item">
                    <a href="#">
                      <div>
                        Meet the Makers
                      </div>
                    </a>
                  </li>
                  <li class="list-item sub-item grandchild-item">
                    <a href="#">
                      <div>
                        Real Couples
                      </div>
                    </a>
                  </li>
                  <li class="list-item sub-item grandchild-item">
                    <a href="#">
                      <div>
                        Tips + Tricks
                      </div>
                    </a>
                  </li>
                  <li class="list-item sub-item grandchild-item">
                    <a href="#">
                      <div>
                        Travel
                      </div>
                    </a>
                  </li>
                  <li class="list-item sub-item grandchild-item">
                    <a href="#">
                      <div>
                        Wellness
                      </div>
                    </a>
                  </li>
                </ul>
              </li><!--categories-->
              {{#each (limit blog.recent_posts 2) as |post|}}
                <li class="list-item-sub-item child-item stories-column">
                  <a href="{{post.url}}">
                    <img src="{{getImage post.thumbnail}}" alt="{{post.thumbnail.alt}}">
                    <span class="story__title domaine-display">{{post.title}}</span>
                  </a>
                </li>
              {{/each}}
              {{#each (limit blog.posts 2) as |post|}}
                <li class="list-item-sub-item child-item stories-column">
                  <a href="{{post.url}}">
                    <img src="{{getImage post.thumbnail}}" alt="{{post.thumbnail.alt}}">
                    <span class="story__title domaine-display">{{post.title}}</span>
                  </a>
                </li>
              {{/each}}
            </ul>
          </div>
      </li>
      <li class="navUser-item navUser-item--cart" id="about">
          <a class="navUser-action is-text" href="/about-us">About</a>
      </li>
  </ul>
</nav>
