<nav class="navUser right-nav">
  {{> components/common/currency-selector}}

  <ul class="navUser-section">
      {{#if customer}}
          <li class="navUser-item" id="my-account">
              <a class="navUser-action is-text " href="{{urls.account.index}}">{{lang 'common.account'}}</a>
              <div class="dropdown-menu">
                  <ul>
                    <li class="navUser-item">
                        <a class="navUser-action is-text" href="{{urls.account.orders.all}}">{{lang 'account.nav.orders'}}</a>
                    </li>
                    {{#if settings.returns_enabled}}
                    <li class="navUser-item">
                        <a class="navUser-action is-text" href="{{urls.account.returns}}">{{lang 'account.nav.returns'}}</a>
                    </li>
                    {{/if}}
                    <li class="navUser-item">
                        <a class="navUser-action is-text" href="{{urls.account.addresses}}">{{lang 'account.nav.addresses'}}</a>
                    </li>
                    {{#if settings.show_payment_methods}}
                    <li class="navUser-item">
                        <a class="navUser-action is-text" href="{{urls.account.payment_methods.all}}">{{lang 'account.nav.payment_methods'}}</a>
                    </li>
                    {{/if}}
                    {{#if settings.show_wishlist}}
                    <li class="navUser-item">
                        <a class="navUser-action is-text" href="{{urls.account.wishlists.all}}">{{lang 'account.nav.wishlists'}}</a>
                    </li>
                    {{/if}}
                    <li class="navUser-item">
                        <a class="navUser-action is-text" href="{{urls.account.recent_items}}">{{lang 'account.nav.recently_viewed'}}</a>
                    </li>
                    <li class="navUser-item">
                        <a class="navUser-action is-text" href="{{urls.account.details}}">{{lang 'account.nav.settings'}}</a>
                    </li>
                      <li class="navUser-item">
                          <a class="navUser-action is-text" href="{{urls.auth.logout}}">{{lang 'common.logout'}}</a>
                      </li>
                  </ul>
              </div>
          </li>
      {{/if}}
      {{#unless customer}}
          <li class="navUser-item icon-link" id="sign-in">
              <a class="navUser-action is-text" href="{{urls.auth.login}}">{{lang 'common.login'}}</a>
          </li>
      {{/unless}}
      {{!-- <li class="navUser-item icon-link quickSearch" id="search">
        <a class="navUser-action navUser-action--quickSearch" href="/search.php" 
        data-search="quickSearch" aria-controls="quickSearch" aria-expanded="false">
            <svg width="17px" height="17px" viewBox="0 0 17 17">
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="quickSearch-icon" fill="#C7C8C7" fill-rule="nonzero">
                        <path d="M15,13.9146341 L11.0532786,10 C11.9016393,8.93902434 12.4303279,7.62195125 12.4303279,6.1707317 C12.4303279,2.76829269 9.63934425,-7.10542736e-15 6.2090164,-7.10542736e-15 C2.77868852,-7.10542736e-15 0,2.76829269 0,6.1707317 C0,9.57317075 2.7909836,12.3414634 6.22131148,12.3414634 C7.68442625,12.3414634 9.01229508,11.8170732 10.0819672,10.9756097 L14.0286885,14.8902438 L15,13.9146341 Z M6.22131148,10.9634147 C3.5532787,10.9634147 1.38934427,8.80487808 1.38934427,6.1707317 C1.38934427,3.53658537 3.56557377,1.37804878 6.22131148,1.37804878 C8.87704917,1.37804878 11.0532786,3.53658537 11.0532786,6.1707317 C11.0532786,8.80487808 8.88934425,10.9634147 6.22131148,10.9634147 Z" id="Shape"></path>
                    </g>
                </g>
            </svg>
        </a>
      </li> --}}
      <li class="navUser-item icon-link shopping-bag-li" id="shopping">
        <a class="navUser-action shopping-bag" href="{{urls.cart}}">
            <svg width="17px" height="17px" viewBox="0 0 17 17">
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="cart-icon" fill="#C7C8C7" fill-rule="nonzero">
                        <path d="M11.2077923,3.95108184 C11.1558442,1.76387583 9.5194805,0 7.4935065,0 C5.46753247,0 3.83116883,1.76387583 3.77922078,3.95108184 L0,3.95108184 L2.35064935,15 L12.6493506,15 L15,3.95108184 L11.2077923,3.95108184 Z M7.4935065,1.19943556 C8.90909083,1.19943556 10.064935,2.42709313 10.1168831,3.96519285 L4.87012987,3.96519285 C4.92207792,2.42709313 6.07792205,1.19943556 7.4935065,1.19943556 Z M11.7792208,13.8146754 L8.012987,13.8146754 L3.20779221,13.8146754 L1.36363636,5.1364064 L13.6103896,5.1364064 L11.7792208,13.8146754 Z" id="Shape"></path>
                    </g>
                </g>
            </svg>
        </a>
      </li>
  </ul>
</nav>
