<div class="post-box">
  <a href="{{url}}">
    <div class="post-image-container">
      <img src="{{getImage thumbnail}}" alt="{{thumbnail.alt}}">
    </div>
    <div class="post-detail-container">
      <div>
          <div>
              {{#if tags}}
              <span class="post-sense">{{tags.[0].name}}</span>
              {{/if}}
              <span class="post-date">{{date_published}}</span>
          </div>
          <span class="post-title">{{title}}</span>
      </div>
    </div>
  </a>
</div>
