<section class="why__wrapper--outer">
   <div class="why__wrapper--inner">
      <div class="why__heading domaine-display">
         {{> components/common/search-custom-field product=product custom_field="product-vertical-text" multiple="1"}}
      </div>
      <div class="vertical-text">
         what’s with all the hype
         <img src="{{cdn 'img/arrow-why.svg'}}" alt="">
      </div>
      <p>{{> components/common/search-custom-field product=product custom_field="story_paragraph"}}</p>
   </div>
</section>