<div class="ShopMenu">
  <div class="ShopMenu-options">
    <div class="menu-column">
      <ul class="menu-list">
        <li class="menu-main-category-item">
          <a class="category-name menu-main-category-name" href="/loungewear">Loungewear</a>
          <ul class="menu-list">
            <li class="menu-sub-category-item">
              <a class="category-name menu-sub-category-name">Womens</a>
            </li>
            <li class="menu-sub-category-item">
              <a class="category-name menu-sub-category-name">Mens</a>
            </li>
            <li class="menu-sub-category-item">
              <a class="category-name menu-sub-category-name">Unisex</a>
            </li>
            <li class="menu-sub-category-item">
              <a class="category-name menu-sub-category-name">Tops</a>
            </li>
            <li class="menu-sub-category-item">
              <a class="category-name menu-sub-category-name">Bottoms</a>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="menu-list">
        <li class="menu-main-category-item">
          <a class="category-name menu-main-category-name" href="/sleepwear">Sleepwear</a>
          <ul class="menu-list">
            <li class="menu-sub-category-item">
              <a class="category-name menu-sub-category-name">Womens</a>
            </li>
            <li class="menu-sub-category-item">
              <a class="category-name menu-sub-category-name">Mens</a>
            </li>
            <li class="menu-sub-category-item">
              <a class="category-name menu-sub-category-name">Unisex</a>
            </li>
            <li class="menu-sub-category-item">
              <a class="category-name menu-sub-category-name">Tops</a>
            </li>
            <li class="menu-sub-category-item">
              <a class="category-name menu-sub-category-name">Bottoms</a>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="menu-list">
        <li class="menu-main-category-item">
          <a class="category-name menu-main-category-name" href="/lingerie">Lingerie</a>
          <ul class="menu-list">
            <li class="menu-sub-category-item">
              <a class="category-name menu-sub-category-name">Bralette</a>
            </li>
            <li class="menu-sub-category-item">
              <a class="category-name menu-sub-category-name">Boy Shorts</a>
            </li>
            <li class="menu-sub-category-item">
              <a class="category-name menu-sub-category-name">Panties</a>
            </li>
            <li class="menu-sub-category-item">
              <a class="category-name menu-sub-category-name">Babydoll</a>
            </li>
            <li class="menu-sub-category-item">
              <a class="category-name menu-sub-category-name">Bodysuits</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="menu-column">
      <ul class="menu-list main">
        <li class="menu-main-category-item">
          <a class="category-name menu-main-category-name" href="/body">Body</a>
          <ul class="menu-list">
            <li class="menu-sub-category-item">
              <a class="category-name menu-sub-category-name">Perfumes</a>
            </li>
            <li class="menu-sub-category-item">
              <a class="category-name menu-sub-category-name">Lotions</a>
            </li>
            <li class="menu-sub-category-item">
              <a class="category-name menu-sub-category-name">Oils</a>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="menu-list">
        <li class="menu-main-category-item">
          <a class="category-name menu-main-category-name" href="/scents">Scents</a>
          <ul class="menu-list">
            <li class="menu-sub-category-item">
              <a class="category-name menu-sub-category-name">Candles</a>
            </li>
            <li class="menu-sub-category-item">
              <a class="category-name menu-sub-category-name">Diffusers</a>
            </li>
            <li class="menu-sub-category-item">
              <a class="category-name menu-sub-category-name">Room Sprays</a>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="menu-list">
        <li class="menu-main-category-item">
          <a class="category-name menu-main-category-name" href="/home">Home</a>
          <ul class="menu-list">
            <li class="menu-sub-category-item">
              <a class="category-name menu-sub-category-name">Sheets</a>
            </li>
            <li class="menu-sub-category-item">
              <a class="category-name menu-sub-category-name">Duvets</a>
            </li>
            <li class="menu-sub-category-item">
              <a class="category-name menu-sub-category-name">Pillows</a>
            </li>
            <li class="menu-sub-category-item">
              <a class="category-name menu-sub-category-name">Fine Art</a>
            </li>
            <li class="menu-sub-category-item">
              <a class="category-name menu-sub-category-name">Books</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="menu-column">
      <ul class="menu-list">
        <li class="menu-main-category-item">
          <a class="category-name menu-main-category-name" href="/food">Food</a>
          <ul class="menu-list">
            <li class="menu-sub-category-item">
              <a class="category-name menu-sub-category-name">Adaptogens</a>
            </li>
            <li class="menu-sub-category-item">
              <a class="category-name menu-sub-category-name">Chocolates</a>
            </li>
            <li class="menu-sub-category-item">
              <a class="category-name menu-sub-category-name">Candies</a>
            </li>
            <li class="menu-sub-category-item">
              <a class="category-name menu-sub-category-name">Cook Books</a>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="menu-list">
        <li class="menu-main-category-item">
          <a class="category-name menu-main-category-name" href="/for-fun">For Fun</a>
          <ul class="menu-list">
            <li class="menu-sub-category-item">
              <a class="category-name menu-sub-category-name">Lovenotes</a>
            </li>
            <li class="menu-sub-category-item">
              <a class="category-name menu-sub-category-name">Dice</a>
            </li>
            <li class="menu-sub-category-item">
              <a class="category-name menu-sub-category-name">Cards</a>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="menu-list">
        <li class="menu-main-category-item">
          <a class="category-name menu-main-category-name" href="/toys">Toys</a>
          <ul class="menu-list">
            <li class="menu-sub-category-item">
              <a class="category-name menu-sub-category-name">Clitoral</a>
            </li>
            <li class="menu-sub-category-item">
              <a class="category-name menu-sub-category-name">G-Spot</a>
            </li>
            <li class="menu-sub-category-item">
              <a class="category-name menu-sub-category-name">Anal</a>
            </li>
            <li class="menu-sub-category-item">
              <a class="category-name menu-sub-category-name">Kegel</a>
            </li>
            <li class="menu-sub-category-item">
              <a class="category-name menu-sub-category-name">Dual</a>
            </li>
            <li class="menu-sub-category-item">
              <a class="category-name menu-sub-category-name">Massage</a>
            </li>
            <li class="menu-sub-category-item">
              <a class="category-name menu-sub-category-name">Accessories</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="menu-column">
      <ul class="menu-list">
        <li class="menu-main-category-item">
          <a class="category-name menu-main-category-name" href="/kits">Kits</a>
          <ul class="menu-list">
            <li class="menu-sub-category-item">
              <a class="category-name menu-sub-category-name">Playdate Kit</a>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="menu-list">
        <li class="menu-main-category-item">
          <a href="/brands" class="category-name menu-main-category-name" href="/brands">Brands</a>
          <ul class="menu-list">
            <li class="menu-sub-category-item">
              <a href="/crave" class="category-name menu-sub-category-name">Crave</a>
            </li>
            <li class="menu-sub-category-item">
              <a href="/chakrubs" class="category-name menu-sub-category-name">Chakrubs</a>
            </li>
            <li class="menu-sub-category-item">
              <a href="/dame" class="category-name menu-sub-category-name">Dame</a>
            </li>
            <li class="menu-sub-category-item">
              <a href="/fur-oil" class="category-name menu-sub-category-name">Fur Oil</a>
            </li>
            <li class="menu-sub-category-item">
              <a href="/hanx" class="category-name menu-sub-category-name">HANX</a>
            </li>
            <li class="menu-sub-category-item">
              <a href="/jimmyjane" class="category-name menu-sub-category-name">JimmyJane</a>
            </li>
            <li class="menu-sub-category-item">
              <a href="/lelo" class="category-name menu-sub-category-name">Lelo</a>
            </li>
            <li class="menu-sub-category-item">
              <a href="/mysteryvibe" class="category-name menu-sub-category-name">Mysteryvibe</a>
            </li>
            <li class="menu-sub-category-item">
              <a href="/pepper" class="category-name menu-sub-category-name">Pepper</a>
            </li>
            <li class="menu-sub-category-item">
              <a href="/wevibe" class="category-name menu-sub-category-name">Wevibe</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div class="ShopMenu-posts">
    {{> components/common/menu-blog-post post=posts.[1] secondary_post=secondary_posts.[0]}}
    {{> components/common/menu-blog-post post=posts.[2] secondary_post=secondary_posts.[1]}}
  </div>
</div>
