<div class="sidebar-menu">
  <div id="terms-title" class="terms-title">Fine Print
      <img src="{{cdn 'icons/white-downarrow.svg'}}" width="20px" height="20px" />
  </div>
  <ul class="sidebar-options about-option">
    <li class="sidebar-item">
      <a href="/faq/" class="sidebar-link">
        FAQ
      </a>
    </li>
    <li class="sidebar-item">
      <a href="/shipping/" class="sidebar-link">
        Shipping &amp; Returns
      </a>
    </li>
    <li class="sidebar-item">
      <a href="/terms-of-service/" class="sidebar-link {{#if template '===' 'pages/custom/page/terms-and-services'}} active {{/if}}">
        Terms of Use
      </a>
    </li>
    <li class="sidebar-item">
      <a href="/privacy-policy/" class="sidebar-link {{#if template '===' 'pages/custom/page/privacy'}} active {{/if}}">
        Privacy & Security
      </a>
    </li>
  </ul>
</div>
