.actionBar-section {
  width: 100%;

  .list-item.main-item {
    background: url('../img/downarrow.svg') no-repeat calc(100% - 30px) center;
    border-radius: 0;
    border: 0;
    color: stencilColor('navy');
    -webkit-appearance: none;
    appearance: none;
    position: relative;
    &:focus {
      outline: none;
    }
  }
}

.list-filter-container {
    display: none;
    
    &.sortForm,
    &.sort-container {
        display: block;
    }

    &.sortForm,
    &.sort-container {
        border: 0;
    }

    &.sort-container {
      border-bottom: 1px solid stencilColor('grey-2');
      border-right: 0 !important;
    }
  
  @include breakpoint("medium") {
      display: block;
  }
}

.filters-container {
  // display: none !important;
  width: 100% !important;
  padding: 0 !important;

  @include breakpoint("medium") {
      display: flex !important;
  }

  .list-filter-container {
    flex-basis: 0;
    flex-grow: 1;
    border-right: 1px solid;
    border-color: stencilColor("light-pink");
    display: flex;
  }

  a {
    text-decoration: none;
  }
}

nav {
    font-family: monospace;
}

.list-filter-container {
  list-style: none;
  margin: 0;
  padding: 0;

  &:hover {
      background: #fff;

      img {
        transition: .7s;
        transform: rotate(180deg);
      }
  }

  &.pink-bg:hover {
    background: stencilColor("pink");
  }

}

.list-item {
  display: block;
  float: left;
  padding: 5px;
  position: relative;
  text-decoration: none;
  width: 100%;
  background: white;
  color: #BCBEC0;
  font-family: stencilFontFamily("sweet-font");
  text-transform: uppercase;
  font-size: 14px;

  &.main-item {
    color: #fff;
    background: transparent;
    border-bottom: 1px solid stencilColor("light-pink");
  }
}

.list-item a,
.list-item {
  color: stencilColor("grey-2");
  cursor: pointer;

  &:hover,
  &.active {
    color: stencilColor("navy");
  }
}

.main-item .main-link {
  color: stencilColor("navy");
  text-decoration: none;
}

.sub-item:hover a {
    cursor: pointer;
    background: transparent;
}

.main-item {
    padding: 30px;

    &:hover .main-link {
      color: stencilColor("navy");
    }
}

.main-link {
    font-family: stencilFontFamily("sweet-font");
    color: stencilColor("white");
    font-size: 14px;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:hover {
      color: stencilColor("white");
    }
    span {
      font-size: 10px;
    }
}

.sub-item a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.filter-circle {
  border-radius: 0;
  width: 10px;
  height: 10px;
  margin: -1px 10px 0 0;
  background-color: #fff;
  border: 1px solid stencilColor("grey");

  &.selected {
    border-color: stencilColor('navy');
    background-color: stencilColor("navy");
  }
}

.list-filter-container .list-item ul {
  background: white;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: all 0.3s;
  left: 0;
  width: calc(100% + 2px);
  margin: 0 0 0 -1px;
  margin-top: 30px;
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 20px !important;
  z-index: 1000;
  border: 1px solid stencilColor("light-pink");
}

.list-filter-container .list-item:hover > ul,
.list-filter-container .list-item:hover ul:hover {
  visibility: visible;
  opacity: 1;
  // display: block;
}

.list-filter-container .list-item ul li {
    clear: both;
    width: 100%;
}

.mobile-filter-title {
  cursor: pointer;
  padding: 15px 10% 5px;
  display: block;
  border-bottom: 1px solid rgba(235, 235, 235, 0.5);
  
  @include breakpoint("medium") {
      display: none;
  }

  .mobile-filter-icons {
      display: flex;
      align-items: center;
  }

  .count-selected-filters {
      margin-right: 20px;
      border-radius: 50px;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;
      font-size: 14px;
      color: stencilColor("navy");
      font-weight: bold;
      background-color: stencilColor("off-white");
      display: none;
      
      &.active {
          display: flex;
      }
  }
}

.mobile-filter-title:last-of-type {
    border: none;
}

.mobile-filters-container {
  position: absolute;
  height: 0;
  background: stencilColor("white");
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 99999999;
  display: block;
//   transition: all 0.3s;
  overflow-y: auto;
  background: white;

  @include breakpoint("medium") {
      display: none;
  }

  .title-container {
      display: flex;
      font-family: stencilFontFamily("domaine-font");
      background: stencilColor("light-pink");
      padding: 20px;
      justify-content: center;
      position: relative;

      &.pink-bg {
        background: stencilColor("pink");
      }

      .large-arrow {
          cursor: pointer;
          position: absolute;
          left: 20px;
          top: 50%;
          transform: translateY(-50%);
      }
      
      .title {
        font-size: 25px;
        letter-spacing: 1px;
      }
  }

  .mobile-filters {
      margin: 0;
      padding: 0;
  }

  .mobile-filters .mobile-filter-title .name {
      font-size: 15px;
      text-transform: uppercase;
      color: stencilColor("navy");
      font-family: stencilFontFamily("sweet-font");
      display: flex;
      justify-content: space-between;
      align-items: center;
  }

  .add-icon, .minus-icon {
      display: none;
      align-self: flex-end;
      // align-self: flex-start;
      &.active {
          display: inline-block;
      }
  }

  .minus-icon {
      align-self: baseline;
  }

  .mobile-filter-list {
      list-style: none;
      opacity: 0;
      height: 0;
      visibility: hidden;

      &.active {
          transition: all 0.2s;
          height: auto;
          visibility: visible;
          opacity: 1;
      }

      .mobile-filter-item {
        margin-bottom: 10px;
      }

      .mobile-filter-item:first-child {
        margin-top: 10px;
      }

      .mobile-filter-item:last-of-type {
        margin-bottom: 10px;
      }

      a {
          text-decoration: none;
          font-size: 14px;
          color: stencilColor("grey-2");
          font-family: stencilFontFamily("sweet-font");
          display: flex;
          justify-content: space-between;
          align-items: baseline;

          &:hover {
            color: stencilColor("navy");  
          }
      }

      .mobile-filter-circle {
          border-radius: 50%;
          width: 10px;
          height: 10px;
          margin-right: 2px;
          background-color: stencilColor("grey");

          &.selected {
              background-color: stencilColor("navy");
          }
      }
  }

  @include breakpoint("medium") {
      display: none;
  }

  &.active {
      transition: all 0.3s;
      height: 100vh;
  }
}

.filter-clear-all {
  border: 1px solid #e6e6e6;
  color: stencilColor("grey-2");
  display: flex;
  font-family: stencilFontFamily("sweet-font");
  font-size: 12px;
  padding: 0;
  text-transform: uppercase;
  width: auto;
  
  a {
    color: stencilColor('navy');
    display: flex;
    letter-spacing: 0.1em;
    padding: 10px 20px;
    text-decoration: none;
    &:hover {
      background-color: stencilColor('navy');
      color: stencilColor('off-white');
    }
  }
}

.facetedSearch-refineFilters {
  .inlineList {
    > li {
      margin-bottom: 0;
    }
  }
}

.facetLabel {
  background: stencilColor('grey');
  border: 1px solid stencilColor('grey');
  border-radius: 0;
  color: stencilColor('navy');
  font-family: stencilFontFamily("sweet-font");
  font-size: 12px;
  letter-spacing: 0.1em;
  padding: 10px 20px;
  text-transform: uppercase;
  .icon {
    fill: stencilColor('navy');
  }
  &:hover {
    color: #fff;
    .icon {
      fill: #fff;
    }
  }
}

