---
carousel: {{theme_settings.homepage_show_carousel}}
blog:
    posts:
        limit: 14
        pages: 3
        summary: 90
    recent_posts:
        limit: 2
---
{{#partial "page"}}
<main class="page stories-landing">
    {{> components/common/hero
        title="Learn"
        subtitle="Our blog explores <br class='mobile-only'>sexual wellness <br class='desktop-only'>and <br class='mobile-only'>human connection."
        page_id="learn"
    }}
    <section class="page__pullquote page__pullquote--outer text-navy background-{{#if pagination.blog '===' null}}white{{else if pagination.blog.current '===' 1}}off-white{{/if}}">
    <div class="container page__pullquote--inner">
        <h1 class="page__pullquote--heading domaine-display">Explore the Pepper Blog</h1>
        <ul class="category__list">
            <li><a href="/learn/tag/experts">Experts</a></li>
            <li><a href="/learn/tag/inspiration">Inspiration</a></li>
            <li><a href="/learn/tag/lovescopes">Lovescopes</a></li>
            <li><a href="/learn/tag/real-couples">Real Couples</a></li>
            <li><a href="/learn/tag/tips-tricks">Tips + Tricks</a></li>
            <li><a href="/learn/tag/travel">Travel</a></li>
            <li><a href="/learn/tag/wellness">Wellness</a></li>
        </ul>
        <div class="divider"></div>
    </div>
    </section>
    {{#if pagination.blog '===' null}}
    {{else if pagination.blog.current '===' 1}}
    <div class="featured-stories">
        <div class="container">
            {{#each blog.posts}}
                {{#contains (join (pluck tags 'name') ', ') 'featured-home' }}
                    {{> components/blog/main-blog-post post=this}}
                {{/contains}}
            {{/each}}
        </div>
    </div>
    {{/if}}
    <div class="story-archive container">
        <h1>More Stories</h1>
        {{#each blog.posts}}
            {{#contains (join (pluck tags 'name') ', ') 'featured-home' }}
            {{else}}
                {{> components/blog/post post=this sense=true}}
            {{/contains}}
        {{/each}}
        {{> components/common/paginator pagination.blog text="tell me more, tell me more"}}
    </div>
    {{>components/common/newsletter-row}}
    {{>components/common/connect-more}}
</main>
{{/partial}}
{{> layout/base page_title="Learn | Pepper" }}
