---
carousel: {{theme_settings.homepage_show_carousel}}
blog:
    posts:
        limit: 14
        pages: 3
        summary: 90
    recent_posts:
        limit: 2
---
{{#partial "page"}}
<main class="page stories-landing">
    {{#each (limit blog.posts 1) as |post|}}
    {{> components/blog/sticky-blog-post
        imageside="right"
        background="auto"
        textcolor="auto"
        cta_text="Read More"
        post=post
    }}
    {{/each}}
    {{#if pagination.blog '===' null}}
    {{else if pagination.blog.current '===' 1}}
    <div class="featured-stories">
        <div class="container">
            {{#each blog.posts}}
                {{#contains (join (pluck tags 'name') ', ') 'featured-home' }}
                    {{> components/blog/main-blog-post post=this}}
                {{/contains}}
            {{/each}}
        </div>
    </div>
    {{/if}}
    <div class="story-archive container">
        <h1>More Stories</h1>
        {{#each blog.posts}}
            {{#contains (join (pluck tags 'name') ', ') 'featured-home' }}
            {{else}}
                {{> components/blog/post post=this sense=true}}
            {{/contains}}
        {{/each}}
        {{> components/common/paginator pagination.blog text="tell me more, tell me more"}}
    </div>
    {{>components/common/newsletter-row}}
    {{>components/common/connect-more}}
</main>
{{/partial}}
{{> layout/base page_title="Stories | Pepper" }}
