---
blog:
    recent_posts:
        limit: {{theme_settings.homepage_blog_posts_count}}
brand:
    products:
        limit: {{theme_settings.brandpage_products_per_page}}
---
{{inject "brandProductsPerPage" theme_settings.brandpage_products_per_page}}
{{#partial "head"}}
    {{#if pagination.brand.previous}}
        <link rel="prev" href="{{pagination.brand.previous}}">
    {{/if}}
    {{#if pagination.brand.next}}
        <link rel="next" href="{{pagination.brand.next}}">
    {{/if}}
{{/partial}}

{{#partial "page"}}
{{#if brand.faceted_search_enabled}}
    <div class="page-sidebar filters-container" id="faceted-search-container">
            {{> components/products/filter sort=pagination.brand.sort}}
        {{> components/faceted-search/index brand}}
    </div>
    {{> components/faceted-search/filter-selected brand}}
{{/if}}
{{> components/brand/mobile-order-sort }}

<div class="category-headline container">
    <h2>Discover Our Assortment</h2>
    <div class="favorite-text">
        <span>skin to skin sparks all the feels</span>
        <img class="sense-arrow" src="{{cdn 'icons/sense-arrow.svg'}}" alt="sense-arrow" />
    </div>
</div>

<div class="page">
    <main class="page-content" id="product-listing-container">
        {{#if brand.products}}
            {{> components/brand/product-listing settings=../settings}}
        {{else}}
            <p>{{lang 'brand.no_products'}}</p>
        {{/if}}
    </main>
</div>
{{> components/brand/mobile-filters}}
{{>components/common/connect-more}}

{{/partial}}
{{> layout/category category_title=brand.name }}
