---
cart: true
products:
    new:
        limit: 4
blog:
    recent_posts:
        limit: {{theme_settings.homepage_blog_posts_count}}
---
{{#partial "page"}}
<div class="page">

    <main class="" data-cart>

        <div data-cart-status>
            {{> components/cart/status-messages}}
        </div>

        {{#if cart.items.length}}
            <div class="loadingOverlay"></div>
            <div class="custom-shopping-cart-main">
                <div class="left" >
                    <div class="custom-shopping-cart-heading">
                        <h1 class="custom-shopping-cart-heading-title">My Cart</h1>
                        <a class="custom-shopping-cart-back" href="/shop/"><img src="{{cdn 'img/back-arrow.svg'}}" alt="" width="5" height="9" /> CONTINUE SHOPPING</a>
                    </div>
                    <div data-cart-content>
                        {{> components/cart/content}}
                    </div>
                </div>
    
                <div class="right" data-cart-totals>
                    {{> components/cart/totals}}
                </div>
            </div>
        {{else}}
        <div class="custom-empty-cart-container empty-cart">
            <div class="inner">
                <p class="empty-messsage">Your Cart is Empty</p>
                {{!-- <a class="button-shop" href="/shop/">continue shopping</a> --}}
                <a class="button-shop" href="/">return home</a>
            </div>
        </div>
        {{/if}}
        {{!-- {{>components/category/featured-by-sense 
            items=products.new
            main-title="Shop All Products"
            subtitle="because we know you’re liking what you see"
            link-text="Shop all products"
            link-url="/shop/"
        }} --}}
        {{!-- {{>components/common/latest-posts posts=blog.recent_posts}} --}}
        {{!-- {{>components/common/connect-more}} --}}
        {{{snippet 'cart'}}}
    </main>
</div>
{{/partial}}
{{> layout/cart}}
