---
blog:
    recent_posts:
        limit: {{theme_settings.homepage_blog_posts_count}}
category:
    shop_by_price: true
    products:
        limit: {{theme_settings.categorypage_products_per_page}}
---
{{inject "categoryProductsPerPage" theme_settings.categorypage_products_per_page}}
{{#partial "head"}}
    {{#if pagination.category.previous}}
        <link rel="prev" href="{{pagination.category.previous}}">
    {{/if}}
    {{#if pagination.category.next}}
        <link rel="next" href="{{pagination.category.next}}">
    {{/if}}
{{/partial}}

{{#partial "page"}}
{{{snippet 'categories'}}}

{{#if category.faceted_search_enabled}}
    <div class="page-sidebar filters-container" id="faceted-search-container">
        {{!> components/products/filter sort=pagination.category.sort}}
        {{> components/category/sidebar}}
    </div>
    {{> components/faceted-search/filter-selected category}}
{{/if}}
{{!> components/common/mobile-order-sort }}

<div class="page">
    <main class="page-content" id="product-listing-container">
        {{#if category.products}}
            {{> components/category/product-listing settings=../settings}}
        {{else}}
            <p>{{lang 'categories.no_products'}}</p>
        {{/if}}
    </main>
</div>
{{!> components/category/mobile-filters}}
{{>components/common/connect-more}}

{{/partial}}
{{> layout/category category_title=category.name }}
