---
products:
    new:
        limit: {{theme_settings.homepage_new_products_count}}
    featured:
        limit: 8
    top_sellers:
        limit: {{theme_settings.homepage_top_products_count}}
carousel: {{theme_settings.homepage_show_carousel}}
blog:
    recent_posts:
        limit: 3
        summary: 90
---
{{#partial "page"}}
<main class="page stories-landing home">
    <div class="senses-explorer-wrapper">
        <div class="senses-explorer">
            <div class="senses-explorer-text container">
                <p class="senses-explorer-title">Connect More</p>
                <p class="senses-explorer-description">Ingredients for spicing it up.</p>
                <div class="senses-explorer--cta">
                    <a href="/shop/?sort=newest" class="btn btn__primary">Shop now</a>
                </div>
            </div>
        </div>
    </div>

    <main class="page page__home page-content">

        {{> components/products/landing-pullquote
            textcolor="navy"
            background="white"
            heading="What's New"
            subheading="Add a little pepper to your life."
            subheading_font="sweet-sans"
        }}

        {{#if products.featured}}
            {{!-- {{> components/common/product-featured-category featured_category=true products=products.featured order="first" settings=../settings}} --}}
            {{> components/common/product-featured-listings featured_category=false products=(first products.featured 4) settings=../settings}}
        {{else}}
            <p>{{lang 'categories.no_products'}}</p>
        {{/if}}

        {{#if products.featured}}
            {{!-- {{> components/common/product-featured-category featured_category=true products=products.featured settings=../settings}} --}}
            {{> components/common/product-featured-listings featured_category=false products=(last products.featured 4) settings=../settings}}
            <div class="btn__wrapper">
                <a href="/shop/?sort=newest" class="btn btn__primary">Shop All</a>
            </div>
        {{else}}
            <p>{{lang 'categories.no_products'}}</p>
        {{/if}}

        {{> components/common/half-page-callout
            imageside="left"
            background="nude"
            textcolor="navy"
            image="img/about-homepage.jpg"
            intro_statement="Pepper is all about connection."
            main_statement="We believe in making
            pleasure a priority."
            cta_link="/about-us/"
            cta_text="About Pepper"
        }}

        {{!-- {{> components/common/home-featured-blog
            imageside="right"
            background="pink"
            textcolor="navy"
            image="img/home-dad-edition.jpg"
            sense="Touch"
            title="Navigating Intimacy and Caretaking: The Dad Edition"
            author="Damon Brown"
            cta_link="/touch/how-to/navigating-intimacy-and-caretaking-new-dads"
            cta_text="Read more"
        }} --}}

        {{> components/products/landing-pullquote
            textcolor="navy"
            background="white"
            heading="Our best sellers"
            subheading="for good reason"
            subheading_font="sweet-sans"
        }}

        {{#if products.top_sellers}}
            {{> components/products/top products=products.top_sellers columns=theme_settings.homepage_top_products_column_count}}
        {{/if}}
    </main>

    {{> components/products/landing-pullquote
        textcolor="navy"
        background="off-white"
        heading="Our Editorials"
    }}

    {{> components/products/landing-pullquote
        textcolor="navy"
        background="off-white"
        heading="Discover tips, tricks, inspo and info
        on sexual wellness from our team of experts
        and indulge in our stories on real people."
        divider="false"
    }}

    <div class="story__archive--outer">
        <div class="story-archive container">
            {{#each blog.recent_posts}}
                {{> components/blog/post post=this sense=true}}
            {{/each}}
            <div class="btn__wrapper">
                <a href="/stories/" class="btn btn__primary">Read More</a>
            </div>
        </div>
    </div>
    {{>components/common/newsletter-row}}
    {{>components/common/connect-more}}
</main>
{{/partial}}
{{> layout/base page_title="Home | Pepper" }}