---
product:
    videos:
        limit: {{theme_settings.productpage_videos_count}}
    reviews:
        limit: {{theme_settings.productpage_reviews_count}}
    related_products:
        limit: {{theme_settings.productpage_related_products_count}}
    similar_by_views:
        limit: {{theme_settings.productpage_similar_by_views_count}}
blog:
    recent_posts:
        limit: 14
        summary: 90
---
{{#partial "page"}}
    <!-- {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}} -->

    {{#each product.shipping_messages}}
        {{> components/common/alert-info message}}
    {{/each}}

    <div itemscope itemtype="http://schema.org/Product" class="product__single">
        {{> components/products/product-view settings=../settings schema=true  }}<div class="product-qualities">
            <div class="qualities">
                {{> components/products/quality product=product quality_title="custom_quality_title_1" quality_description="custom_quality_description_1" }}
                {{> components/products/quality product=product quality_title="custom_quality_title_2" quality_description="custom_quality_description_2" }}
                {{> components/products/quality product=product quality_title="custom_quality_title_3" quality_description="custom_quality_description_3" }}
                {{> components/products/quality product=product quality_title="custom_quality_title_4" quality_description="custom_quality_description_4" }}
            </div>
            <div class="product-quality-image">
                <img src="{{> components/common/search-custom-field product=product custom_field="hype_image_url"}}" alt="">
            </div>
        </div>
        
        <section class="why__wrapper--outer">
            <div class="why__wrapper--inner">
                <div class="why__heading domaine-display">
                    {{> components/common/search-custom-field product=product custom_field="product-vertical-text" multiple="1"}}
                </div>
                <div class="vertical-text">
                    what’s with all the hype
                    <img src="{{cdn 'img/arrow-why.svg'}}" alt="">
                </div>
                <p>{{> components/common/search-custom-field product=product custom_field="story_paragraph"}}</p>
                {{!-- <a href="/cart.php?action=add&product_id={{product.id}}" class="btn btn__primary">Buy Now</a> --}}
            </div>
        </section>

        {{> components/blog/featured-blog-post product=product}}
        
        {{>components/category/featured-by-sense 
            items=product.related_products
            main-title="You might also like"
            subtitle="because we know you’re liking what you see"
            link-text="Shop all"
            link-url="/shop"
        }}
        <div class="story-archive container">
            {{#each (limit blog.recent_posts 3)}}
            {{> components/blog/post post=this sense=true}}
            {{/each}}
        </div>
        {{>components/common/connect-more}}
    </div>
{{/partial}}
{{> layout/base}}
