---
product_results:
    limit: {{theme_settings.searchpage_products_per_page}}
products:
    new:
        limit: 4
blog:
    recent_posts:
        limit: {{theme_settings.homepage_blog_posts_count}}
---
{{inject 'categoryTree' forms.search.category_options}}
{{inject 'searchProductsPerPage' theme_settings.searchpage_products_per_page}}
{{#partial "head"}}
    {{#if pagination.product_results.previous}}
        <link rel="prev" href="{{pagination.product_results.previous}}">
    {{/if}}
    {{#if pagination.product_results.next}}
        <link rel="next" href="{{pagination.product_results.next}}">
    {{/if}}
{{/partial}}

{{#partial "page"}}
{{{snippet 'search'}}}
<section class="nav">
    
    <div id="search-results-heading">
        {{>components/search/heading}}
    </div>
    {{#unless product_results.faceted_search_enabled}}
        {{>components/search/advanced-search}}
    {{/unless}}
    {{#if product_results.products}}
        {{> components/search/mobile-order-sort }}
    {{/if}}
   
</section>

<section class="page search-page">
    {{#if product_results.products}}
        {{#if product_results.faceted_search_enabled}}
            <aside class="page-sidebar filters-container" id="faceted-search-container">
                {{> components/faceted-search/index product_results}}
            </aside>
        {{/if}}
    {{/if}}
    {{#if product_results.products}}
        <div class="category-headline container on-search-container">
            <h2><span class="capitalize">Shop {{forms.search.query}}</span> Products</h2>
            <div class="favorite-text no-margin">
                <span>search and you shall receive</span>
                <img class="sense-arrow" src="{{cdn 'icons/sense-arrow.svg'}}" alt="sense-arrow" />
            </div>
        </div>
    {{else}}
        {{#if forms.search.query}}
            <div class="custom-empty-cart-container empty-search">
                <div class="inner">
                    <p class="empty-messsage">Your search didn't match any results.</p>
                    <a class="button-shop" href="/shop-all-products">continue shopping</a>
                </div>
            </div>
        {{/if}}
    {{/if}}

    <div class="page">
        <main class="page-content" id="product-listing-container">
            {{#if product_results.products}}
                {{> components/search/product-listing settings=../settings}}
                {{> components/common/paginator pagination.content_results reload=true}}
            {{/if}}
        </main>
    </div>
    {{>components/common/latest-posts posts=blog.recent_posts}}
    {{>components/common/connect-more}}
</section>
{{/partial}}
{{> layout/base}}
