{{#unless customer.addresses}}
    {{> components/common/alert-info (lang 'account.addresses.no_addresses')}}
{{/unless}}

<ul class="addressList">
    {{#each customer.addresses}}
        <li class="address">
            <div class="">
                <div class="">
                    <ul class="address-details address-details--postal">
                        <li>{{first_name}} {{last_name}}</li>
                        <li>{{company}}</li>
                        <li>{{address1}}</li>
                        <li>{{address2}}</li>
                        <li>{{city}}{{#if state}}, {{state}}{{/if}} {{zip}}</li>
                        <li>{{country}}</li>
                    </ul>
                    {{#if phone}}
                        <dl class="address-details">
                            <dt class="address-label">{{lang 'account.addresses.phone' }}</dt>
                            <dd class="address-description">{{phone}}</dd>
                        </dl>
                    {{/if}}
                    <form action="{{delete_url}}" method="post" data-delete-address="{{lang 'forms.address.confirm_delete'}}">
                        <div class="form-actions">
                            <a class="btn btn__text" href="{{edit_url}}">{{lang 'common.edit' }}</a>
                            <button type="submit" class="btn btn__text">{{lang 'common.delete' }}</button>
                        </div>
                    </form>
                </div>
            </div>
        </li>
    {{/each}}
</ul>