// =============================================================================
// CART (CSS)
// =============================================================================
//
// 1. Override server-generated inline-css
//
// -----------------------------------------------------------------------------

// Cart variables
// -----------------------------------------------------------------------------

$cart-item-spacing:                     spacing("single");

$cart-thumbnail-maxWidth:               remCalc(100px);
$cart-thumbnail-height:                 remCalc(100px);

$cart-item-label-offset:                $cart-thumbnail-maxWidth + $cart-item-spacing;


// Cart layout
// -----------------------------------------------------------------------------
//
// 1. On mobile and tablet we need to re-structure the table to appear more like
//    a list, then visually show it as a table on larger screens only.
//
// 2. Hide the table headings on mobile and tablet, show them for larger screens.
//
// -----------------------------------------------------------------------------

.page__type--cart .page,
.page__type--cart .page main,
.page__type--cart .page .custom-shopping-cart-main {
    min-height: calc(100vh - 100px);
}

.cart {
    display: block; // 1
    margin-bottom: spacing("single");
    width: 100%;

    @include breakpoint("medium") {
        display: table; // 1
    }
}

.cart-header {
    display: none; // 2

    @include breakpoint("medium") {
        display: table-header-group; // 2
        text-align: left;
    }
}

.cart-header-item {
    padding-bottom: spacing("base");

    &:last-child {
        text-align: right;
    }
}

.cart-list {
    border-top: container("border");
    display: block; // 1

    &.custom-cart-list {
        border: none;
    }

    @include breakpoint("medium") {
        display: table-row-group; // 1
    }
}

.cart-item {
    border-bottom: container("border");
    clear: both;
    display: block; // 1
    padding: $cart-item-spacing 0;

    @include breakpoint("small") {
        @include clearfix;
        padding-left: grid-calc(3, $total-columns);
    }

    @include breakpoint("medium") {
        display: table-row; // 1
        padding-left: 0;

        &:before,
        &:after {
            display: none;
        }
    }
}

.cart-item-block {
    display: block; // 1

    @include breakpoint("medium") {
        display: table-cell; // 1
    }

    .definitionList {
        margin-bottom: spacing("quarter");
    }
}

.cart-item-figure {
    float: left;
    height: $cart-thumbnail-height;
    margin-bottom: $cart-item-spacing;
    width: grid-calc(4, $total-columns);
    position: relative;

    @include breakpoint("small") {
        // height: auto;
        margin-bottom: 0;
        margin-left: -(grid-calc(4, $total-columns));
        width: grid-calc(4, $total-columns);
    }

    @include breakpoint("medium") {
        float: none;
        width: grid-calc(1, $total-columns);
    }

    @include lazy-loaded-padding('productthumb_size');
}

.cart-item-fixed-image {
    width: 100%;
}

.cart-item-image {
    @include lazy-loaded-img;

    @include breakpoint("medium") {
        margin-left:0;
    }
}

.cart-item-title {
    display: table-cell;
    height: $cart-thumbnail-height;
    padding-left: $cart-item-spacing;

    @include breakpoint("small") {
        display: block;
        height: auto;
        margin-bottom: $cart-item-spacing;
        overflow: hidden;
    }

    @include breakpoint("medium") {
        display: table-cell;
        padding: $cart-item-spacing;
    }
}

.cart-item-info {
    clear: both;
    width: 100%;

    @include breakpoint("small") {
        clear: none;
        float: left;
        overflow: hidden;
        width: grid-calc(4, $total-columns);

        + .cart-item-info {
            margin-top: 0;
        }
    }

    @include breakpoint("medium") {
        float: none;
        width: grid-calc(2, $total-columns);

        &:last-child {
            text-align: right;
        }
    }

    + .cart-item-info {
        margin-top: spacing("half");
    }
}


// Cart content
// -----------------------------------------------------------------------------

.cart-header-quantity,
.cart-item-quantity {

    @include breakpoint("medium") {
        text-align: center;
    }
}

.cart-item-quantity {

    .form-increment {

        margin: 0 spacing("eighth") 1px spacing("single");
        vertical-align: middle;

        @include breakpoint("medium") {
            margin-left: 0;
        }
    }

}

.cart-item-label {
    color: color("greys", "light");
    float: left;
    margin-bottom: spacing("quarter");
    text-align: right;
    width: grid-calc(4, $total-columns);

    @include breakpoint("small") {
        display: block;
        padding-left: $cart-item-spacing;
        text-align: left;
        width: 100%;
    }

    @include breakpoint("medium") {
        display: none;
    }
}

.cart-item-value {
    padding-left: $cart-item-spacing;

    @include breakpoint("medium") {
        padding-left: 0;
    }
}

.cart-item-options--giftWrapping {
    margin-top: spacing("half") + spacing("quarter");

    .cart-item-option-description {
        color: $body-font-color;
    }
}

.cart-remove {
    @extend .product__features--helper;
    background-color: transparent;
    border-radius: 0;
    cursor: pointer;
    text-decoration: none;
    padding: 0;
    // float: right;
    // height: remCalc(18px);
    // margin-top: remCalc(2px);
    // padding: spacing("eighth");
    // transition: background-color 0.15s ease;
    // width: remCalc(18px);

    @include breakpoint("small") {
        margin-left: 0;
    }

    &.cart-remove--spacer {
        visibility: hidden;
    }

    > svg {
        fill: stencilColor("icon-color");
    }
}


// Cart totals
// -----------------------------------------------------------------------------

.cart-totals {
    @include u-listBullets("none");
    margin-bottom: $cart-item-spacing;
    text-align: right;
    width: 100%;

    @include breakpoint("small") {
        float: right;
        width: grid-calc(9, $total-columns);
    }

    @include breakpoint("medium") {
        margin-bottom: spacing("base");
        width: grid-calc(7, $total-columns);
    }

    @include breakpoint("large") {
        width: grid-calc(5, $total-columns);
    }
}

.cart-total {
    @include clearfix;
    border-bottom: 0;

    @include breakpoint("medium") {
        + .cart-total {
            border-top: container("border");
        }
    }

    .form-input {
        display: inline-block;
        height: remCalc(32px);
        padding: spacing("third");
        vertical-align: top;
        width: grid-calc(9, $total-columns);
    }

    .form-select {
        background-position: right remCalc(5px) top remCalc(7px);
        background-size: remCalc(20px) remCalc(20px);
        height: remCalc(32px);
        margin-bottom: spacing("half");
        padding: spacing("third") spacing("half");
    }

    .form-inlineMessage {
        text-align: left;
    }
}

.cart-total-label {
    color: stencilColor("color-textSecondary");
    width: grid-calc(4, $total-columns);

    @include breakpoint("small") {
        width: grid-calc(6, $total-columns);
    }

    @include breakpoint("medium") {
        display: block;
        padding-left: 0;
        text-align: left;
    }
}

.cart-total-value {
    text-align: left;

    @include breakpoint("small") {
        text-align: right;
    }

    @include breakpoint("medium") {
        width: grid-calc(6, $total-columns);
    }
}

.cart-total-label,
.cart-total-value {
    float: left;
    padding: spacing("third") 0 spacing("third") $cart-item-spacing;

    @include breakpoint("medium") {
        padding: spacing("base") 0;
    }
}

.cart-total-grandTotal {
    font-family: fontFamily("headingSans");
    font-size: fontSize("small");
    padding-bottom: spacing("eighth");
    padding-top: spacing("eighth");
    position: relative;

    @include breakpoint("medium") {
        padding: spacing("base") 0;
        top: -(spacing("sixth"));
    }
}


// Cart actions
// -----------------------------------------------------------------------------

.coupon-code-add,
.coupon-code-cancel,
.shipping-estimate-show,
.shipping-estimate-hide,
.gift-certificate-add,
.gift-certificate-cancel {
    color: stencilColor("color-textSecondary");
    padding: 0;
    text-decoration: underline;
    transition: color 0.15s ease;

    &:hover {
        color: stencilColor("color-textSecondary--hover");
    }
}

.coupon-code-cancel,
.shipping-estimate-hide {
    // font-style: italic;
}

.coupon-form,
.cart-gift-certificate-form {
    @include clearfix;
    font-size: 0;
    margin-bottom: spacing("base");

    .form-input,
    .button {
        float: left;
    }

    .form-input {
        font-size: 16px;
        width: 78%;
    }

    .button {
        margin: 0 0 0 2%;
        padding-left: spacing("half");
        padding-right: spacing("half");
        width: 20%;
    }
}

.estimator-form {
    margin-bottom: 0;

    .form-input {
        margin-bottom: spacing("half");
        width: 100%;
    }

    .button--primary {
        width: 60%;
    }
}

.estimator-form-label {
    clear: both;
    float: left;
    font-weight: fontWeight("normal");
    margin-bottom: 0;

    .form-label {
        line-height: remCalc(32px);
        margin-bottom: 0;
    }
}

.estimator-form-label-text {
    margin-left: remCalc(10px);
}

.estimator-form-input {
    float: right;
    margin-bottom: 1em;
    width: 60%;

    .form-input,
    .form-select {
        margin-bottom: 0;
    }
}

.estimator-form-input--price {
    width: 30%;
}

.estimator-form-row {
    @include clearfix;
}

.estimator-form-toggleUPSRate {
    display: block;
    margin-bottom: 1em;
}

.cart-actions {
    @include clearfix;
    clear: both;

    .button {
        display: block;
        margin-bottom: 0;

        @include breakpoint("small") {
            display: inline-block;
            float: right;
        }
    }

    .checkoutMultiple {
        clear: right;
        display: block;
        float: right;
        padding-top: spacing("quarter");
    }
}

.cart-additionalCheckoutButtons { // 1
    @include clearfix;

    // scss-lint:disable SelectorFormat
    .FloatRight {
        @include clearfix;

        // scss-lint:disable SelectorDepth, NestingDepth
        p {
            // scss-lint:disable ImportantRule
            float: none !important;
            margin: spacing("third") 0;
            text-align: right;
        }

        div {
            float: right;
        }
    }

    .CheckoutButton {
        margin-bottom: spacing("base");

        &:first-child {
            margin-top: spacing("single");
        }

        &:last-child {
            margin-bottom: spacing("single");
        }
    }
}


// Cart Preview
// -----------------------------------------------------------------------------
//
// 1. Need to vertically align a block of text
//
// -----------------------------------------------------------------------------

.previewCartList {
    @include u-listReset;
    border-collapse: collapse;
    display: table;
    table-layout: fixed;
    width: 100%;
}

.previewCartItem {
    @include grid-row;
    display: table-row;
    line-height: lineHeight("smaller");

    + .previewCartItem {
        border-top: container("border");
    }
}

.previewCartItem-image,
.previewCartItem-content {
    display: table-cell; // 1
    vertical-align: middle;
}

.previewCartItem-image {
    @include grid-column(4, $float: false);
    padding: 0;
    text-align: center;
    position: relative;

    img {
        @include lazy-loaded-img;
    }

    @include lazy-loaded-padding('productthumb_size');
}

.previewCartItem-content {
    @include grid-column(8, $float: false);
    padding-left: 0;
}

.previewCartItem-name {
    margin: 0;
    text-transform: none;

    > a {
        text-decoration: none;
    }
}

.previewCartItem-brand,
.previewCartItem-name {
    margin-bottom: spacing("eighth");
}

.previewCartItem-brand,
.previewCartItem-price {
    color: $small-font-color;
    display: inline-block;
    font-size: fontSize("smallest");
}

.previewCartAction {
    @include grid-row;
    border-top: container("border");
    display: block;
    padding: spacing("single") spacing("half");

    .button {
        margin: 0;
        padding-left: spacing("half");
        padding-right: spacing("half");
        width: 100%;
    }
}

.previewCartAction-checkout,
.previewCartAction-viewCart {
    @include grid-column(6);

    &.previewCartAction-viewCart--sole {
        @include grid-column($columns: 6, $center: true);
    }
}

.previewCartAction-checkout {
    padding-right: spacing("quarter");
}

.previewCartAction-checkoutMultiple {
    clear: both;
    padding-left: spacing("half");
    padding-top: spacing("quarter");
}

.previewCartAction-viewCart {
    padding-left: spacing("quarter");
}

.previewCart-emptyBody {
    padding: spacing("double");
    text-align: center;
}

.custom-shopping-cart-main {
    display: flex;
    flex-direction: column;
    @include breakpoint("medium") {
        flex-direction: row;
    }

    .left {
        width: 100%;
        padding: 2rem 1.25rem;

        @include breakpoint("medium") {
            padding: 4rem 1.25rem;
            width: 65%;
        }

        @include breakpoint("large") {
            padding: 4rem 5.5rem;
        }

        .custom-shopping-cart-heading {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;
            border-bottom: 1px solid;
            border-color: stencilColor('pink');
            padding-bottom: 1rem;

            @include breakpoint("large") {
                padding: 0;
                border: none;
                flex-direction: row;
            }
        }

        .custom-shopping-cart-heading-title {
            color: stencilColor("pink");
            font-family: stencilFontFamily("domaine-font");
            font-size: 1.8rem;
            font-weight: 300;
            margin: 0;

            @include breakpoint("medium") {
                font-size: 3.2rem;
            }
        }

        .custom-shopping-cart-back {
            color: stencilColor("navy");
            text-decoration: none;
            font-family: stencilFontFamily("sweet-font");
            font-size: 0.9rem;
            transition: all .3s;

            &:hover {
                text-decoration: underline;
            }

            img {
                margin-right: 5px;
                margin-top: -2px;
            }

            @include breakpoint("medium") {
                font-size: 1rem;
            }
        }
    }

    .right {
        width: 100%;
        background-color: stencilColor("gray-3");
        padding: 2.5rem 2rem;
        position: relative;

        @include breakpoint("medium") {
            padding: 4.5rem 2rem;
            width: 35%;
        }

        @include breakpoint("large") {
            padding: 4.5rem 3.5rem;
        }

        .vertical {
            position: absolute;
            left: -1rem;
            top: 2rem;
            font-family: stencilFontFamily("rollerscript-font");
            font-size: 2rem;
            color: stencilColor("navy");
            transform: rotate(-90deg) translateX(-115%);
            transform-origin: 0 100%;
            display: none;

            @include breakpoint("large") {
                display: block;
            }

            .vertical-inner {
                position: relative;

                img {
                    position: absolute;
                    top: 1.5rem;
                    left: -8rem;
                    width: 117px;
                    height: 67px;
                }
            }
        }

        .cart-totals-title {
            color: stencilColor("navy");
            font-family: stencilFontFamily("domaine-font");
            font-size: 1.5rem;
            font-weight: 300;
            margin: 0 0 3rem 0;

            @include breakpoint("large") {
                font-size: 2rem;
            }

            &.payment-title {
                margin-bottom: 0;
                margin-top: 2rem;
            }
        }

        .custom-cart-subtotal, .custom-cart-total {
            display: flex;
            justify-content: space-between;
            margin-bottom: 2rem;
        }

        .total-text, .custom-coupon-code-text {
            color: stencilColor("navy");
            font-family: stencilFontFamily("sweet-font");
            font-size: 1rem;
            text-decoration: none;

            @include breakpoint("large") {
                font-size: 1.2rem;
            }
        }

        .custom-cart-coupon-container {
            position: relative;
            z-index: 10;
            padding-bottom: 1.5rem;
            margin-bottom: 1rem;
            border-bottom: 1px solid;
            border-color: stencilColor("navy");

            .custom-form-input-container {
                display: flex;
                .form-input {
                    font-size: 16px;
                }
            }

            .custom-promo-label {
                width: 100%;
                margin-bottom: 1.5rem;
                float: none;
                padding: 0;
            }
            
            input {
                background: transparent;
                border-color: stencilColor("navy");
                border-radius: 0;
                height: 33px;
                font-family: stencilFontFamily("sweet-font");
                font-size: .8rem;
                color: stencilColor("navy");
                letter-spacing: 3px;

                &.form-input {
                    width: 68%;
                }
                
                &::placeholder {
                    color: stencilColor("navy");
                }

                @include breakpoint("large") {
                    height: 43px;
                    font-size: 1rem;
                }
            }

            .button {
                color: stencilColor("grey");
                background-color: stencilColor("navy");
                text-transform: uppercase;
                padding: 0;
                text-align: center;
                border: 1px solid transparent;
                transition: all .3s;
                width: 30%;

                @include breakpoint("medium") {
                    min-width: 120px;
                }

                &:hover {
                    background-color: transparent;
                    color: stencilColor("navy");
                    border-color: stencilColor("navy");
                }
            }
        }

        .custom-cart-checkout {
            .button {
                background-color: stencilColor("navy");
                border: none;
                border-radius: 0;
                color: stencilColor("grey");
                text-transform: uppercase;
                font-size: 1rem;
                font-weight: 300;
                float: none;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 40px;
                letter-spacing: 4px;
                border: 1px solid transparent;
                transition: all .3s;

                &:hover {
                    background-color: transparent;
                    color: stencilColor("navy");
                    border-color: stencilColor("navy");
                }

                @include breakpoint("large") {
                    height: 50px;
                    font-size: 1.2rem;
                }
            }
        }

        .payment-methods {
            display: flex;
            flex-wrap: wrap;
            img {
                max-width: 46px;
                max-height: 26px;
                margin-top: 1rem;
                margin-right: 1rem;
            }
        }
    }

}

.custom-cart-container {
    display: flex;
    flex-direction: column;
    padding: 0 .5rem;
    max-width: 400px;
    margin: 0 auto;

    @include breakpoint("medium") {
        padding: 0;
        max-width: 100%;
        margin: 0;
    }

    .custom-cart-item {
        display: flex;
        border-bottom: 1px solid;
        border-color: stencilColor("table-lines");
        padding: 1.5rem 0 2rem;
        flex-direction: column;

        @include breakpoint("large") {
            padding: 2.4rem 0 3.4rem;
            flex-direction: row;
        }
    }

    .custom-cart-item:last-of-type {
        border:none;
        padding-bottom: 0;

        .cart-button {
            @include breakpoint("large") {
                margin-bottom: 0;
            }
        }
    }

    .custom-cart-main-content {
        display: flex;
        width: 100%;
        margin-bottom: 1rem;

        @include breakpoint("large") {
            margin-bottom: 0;
            width: 70%;
        }
    }

    .definitionList {
        margin-bottom: 0;
    }

    .custom-cart-item-image {
        padding: 0rem 1rem;
        margin: 10px 0;
        min-width: 150px;
        @include breakpoint("medium") {
            padding: 0rem 2rem;
        }
    }

    .custom-cart-item-name {
        margin-top: 0;
        a{
            color: stencilColor("navy");
            font-family: stencilFontFamily("domaine-font");
            font-size: 1.2rem;
            text-decoration: none;
            font-weight: 300;

            @include breakpoint("medium") {
                font-size: 1.8rem;
            }
        }
    }

    .custom-cart-item-price-actions {
        align-content: flex-start;
        align-self: flex-start;
        border: 1px solid stencilColor('pink');
        border-left: 0;
        border-right: 0;
        display: flex;
        flex-direction: row;
        justify-content: stretch;
        width: 100%;

        @include breakpoint('medium') {
            border: 0;
        }

        @include breakpoint("large") {
            width: 30%;
            max-width: 300px;
            margin-left: auto;
        }
    }

    .cart-item-brand {
        margin-bottom: 0;
    }

    
    .cart-item-name {
        font-size: fontSize("smaller");
        margin: 0;
    
        + .definitionList {
            margin-top: spacing("quarter");
        }
    }

    .custom-cart-item-option-name, .custom-cart-item-option-value, .cart-item-brand {
        color: stencilColor("navy");
        text-transform: uppercase;
        font-family: stencilFontFamily("sweet-font");
        font-size: 0.75rem;
        font-weight: 300;

        @include breakpoint("medium") {
            font-size: 1rem;
        }
    }
    
    .custom-cart-item-option-value, .cart-item-brand span {
        color: stencilColor("grey-2");
    }

    .cart-item-actions {
        margin-top: 1rem;
        display: flex;
        flex-wrap: wrap;

        @include breakpoint("medium") {
            font-size: 2rem;
        }
    }

    .cart-button {
        background: stencilColor("navy");
        font-family: stencilFontFamily("sweet-font");
        text-transform: uppercase;
        padding: 0 1rem;
        max-width: 120px;
        display: flex;
        text-align: center;
        text-decoration: none;
        color: stencilColor("grey");
        font-size: 0.8rem;
        border: 1px solid transparent;
        height: 30px;
        justify-content: center;
        align-items: center;
        float: none;
        margin: 0 0 1rem 0;
        border-radius: 0;
        width: auto;
        margin-right: .7rem;
        min-width: 100px;
        border: 1px solid transparent;
        transition: all .3s;
        
        &:hover {
            background-color: white;
            color: stencilColor("navy");
            border-color: stencilColor("navy");
        }

        &.white {
            background: white;
            color: stencilColor("navy");
            border-color: stencilColor("navy");

            &:hover {
                background-color: stencilColor("navy");
                color: stencilColor("grey");
                border-color: transparent;
            }
        }
    }

    .custom-cart-item-price-actions {
        align-items: stretch;
        display: flex;
        justify-content: space-between;
        padding: 1rem 0;

        @include breakpoint('medium') {
            padding: 0;
        }

        .cart-qy-buttons-container {
            display: flex;
        }

        .form-increment {
            align-items: stretch;
            display: flex;
            margin: 0;
            justify-content: center;
    
            .form-input {
                border-radius: 0;
                line-height: 1;
                text-align: center;
                width: calc(100%/3);
            }
            
            .button {
                // background-color: #E5B593;
                border-radius: 0;
                line-height: 1;
                text-align: center;
                width: calc(100%/3);
            }
            @include breakpoint("medium") {
                margin-left: 0;
            }
        }

        .cart-item-unit-price {
            align-items: center;
            font-size: fontSize("smaller");
            letter-spacing: 0.05em;
            display: flex;
            justify-content: center;
            height: 35px;
            color: stencilColor("navy");
            font-family: stencilFontFamily("sweet-font");

            @include breakpoint("medium") {
                font-size: fontSize("larger");
            }
        }
    }
}

.custom-empty-cart-container {
    width: 100%;
    padding: 5rem 0 0;

    .inner {
        max-width: 350px;
        width: 80%;
        margin: 0 auto;

        @include breakpoint("medium") {
            max-width: 450px;
        }
    }

    &.empty-cart {
        position: relative;
        padding: 0;
        min-height: calc(100vh - 90px);
        background-color: stencilColor("gray-3");  
        
        .inner {
            max-width: 350px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            @include breakpoint("medium") {
                max-width: 500px;
            }
        }  
    }

    

    .empty-messsage {
        font-family: stencilFontFamily("domaine-font");
        font-size: 2rem;
        color: stencilColor("navy");
        justify-content: center;
        margin: 0 0 3rem 0;
        text-align: center;

        @include breakpoint("medium") {
            margin: 0 0 5rem 0;
            font-size: 2.5rem;
        }

        @include breakpoint("large") {
            font-size: 3.5rem;
        }
    }

    .button-shop {
        display: block;
        color: stencilColor("grey");
        background-color: stencilColor("navy");
        font-family: stencilFontFamily("sweet-font");
        text-transform: uppercase;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
        text-decoration: none;
        border: 1px solid transparent;
        transition: all .3s;

        @include breakpoint("medium") {
            font-size: 1.1rem;
            height: 50px;
        }

        @include breakpoint("large") {
            font-size: 1.3rem;
            height: 60px;
        }

        &:hover {
            border-color: stencilColor("navy");
            background-color: transparent;
            color: stencilColor("navy");
        }
    }
}
