#cart-preview-dropdown {
  display: none;
  left: auto !important;
  height: 100vh;
  overflow: hidden;
  position: fixed !important;
  right: 0;
  top: 0 !important;
  transform: translateX(100vw);
  transition: all 0.2s ease-in-out;
  width: 100vw;
  &.is-loading {
    display: flex;
    max-width: 420px;
    transform: translateX(0);
    .loadingOverlay {
      background-color: #fff;
    }
    .previewCart {
      transform: translateX(0);
    }
  }
  &.is-open {
    background-color: rgba(0,0,0,0.3);
    display: flex;
    transform: translateX(0);
    z-index: 10;
    .previewCart {
      transform: translateX(0);
    }
  }
  .previewCart {
    background-color: #fff;
    display: flex;
    flex: 1;
    flex-flow: column;
    max-height: 100vh;
    max-width: 420px;
    min-height: 100vh;
    overflow-y: scroll;
    position: fixed;
    right: 0;
    transform: translateX(420px);
    transition: all 0.2s ease-in-out;
    z-index: 12;
    .previewCartClose {
      display: block;
      color: stencilColor('navy');
      font-size: 1.618rem;
      padding: spacing('half');
      text-align: right;
      text-decoration: none;
    }
  }
  .previewCart-emptyBody {
    align-items: stretch;
    display: flex;
    flex: 1;
    color: stencilColor('navy');
    flex-flow: column;
    font-family: stencilFontFamily('domaine-font');
    font-size: 2.1618rem;
    justify-content: center;
    padding: spacing("double");
    text-align: center;
    .btn {
      margin-top: spacing('single');
    }
  }
  .previewCartItem + .previewCartItem {
    border-color: #e1e1e1;
  }
  .previewCartItem-name a {
    color: stencilColor("navy");
    font-family: stencilFontFamily("domaine-font");
    font-size: 1.618rem;
    font-weight: 300;
    margin: 0;
    padding-bottom: 0.5rem;
    @include breakpoint('small') {
    }
    @include breakpoint("medium") {
        border: 0;
        display: block;
        line-height: 1.2;
        max-width: 350px;
        margin: 0;
        padding-bottom: 0;
    }
  }
  .previewCartItem-brand {
    color: stencilColor('grey-2');
    display: block;
    font-family: stencilFontFamily('sweet-font');
    font-size: 1.25rem;
    font-weight: 300;
    letter-spacing: 0.1em;
    line-height: 1.7;
    text-align: left;
    text-transform: uppercase;

      @include breakpoint("medium") {
          font-size: 1rem;
          letter-spacing: 2px;
          text-align: left;
      }
  }
  .previewCartItem-price {
    color: stencilColor("grey-dark");
    display: block;
    font-family: stencilFontFamily("sweet-font");
    font-size: 1.5rem;
    line-height: 1;
    letter-spacing: 0.05em;
    padding-right: 1rem;
    max-width: 140px;

    @include breakpoint("medium") {
        font-size: 1.25rem;
        max-width: none;
    }
  }
}