---
blog:
    recent_posts:
        limit: {{theme_settings.homepage_blog_posts_count}}
---
{{#partial "page"}}
    

    {{> components/account/navigation account_page='addresses'}}

    <div class="account account--fixed add-address">
        <h2 class="page-heading title">
            <a class="go-back-link" href="{{urls.account.addresses}}">
                <img src="{{cdn 'icons/back-arrow.svg'}}" />
            </a>
            {{#if forms.address.address_id}}
                {{lang 'forms.address.edit.heading'}}
            {{else}}
                {{lang 'forms.address.add.heading'}}
            {{/if}}
        </h2>

        {{#if forms.address.error}}
            {{> components/common/alert-error forms.address.error}}
        {{/if}}

        <div class="account-body add-address-container">
            <form action="{{forms.address.action}}" data-address-form class="form add-address-form" method="post">
                <div class="add-address-form-container">
                    <p>Add a new address in your Address Book.</p>
                    {{#if forms.address.address_id }}
                        <input type="hidden" name="shipid" value="{{forms.address.address_id}}">
                    {{/if}}
                    <fieldset class="form-fieldset">
                        <div class="form-row form-row--half">
                            {{#each forms.address.shipping_fields }}
                                {{{dynamicComponent 'components/common/forms'}}}
                            {{/each}}
                        </div>
                    </fieldset>
                </div>
                <div class="form-actions actions-container">
                    <input type="submit" class="button button--primary" value="{{lang 'forms.address.submit_value'}}">
                    <a href="{{urls.account.addresses}}" class="button">{{lang 'common.cancel'}}</a>
                    {{inject 'required' (lang 'common.required')}}
                    {{inject 'state_error' (lang 'errors.state_error')}}
                </div>
            </form>
        </div>
    </div>

{{/partial}}
{{> layout/base page_content="account" }}
