---
blog:
    recent_posts:
        limit: {{theme_settings.homepage_blog_posts_count}}
---
{{#partial "page"}}
{{#if settings.show_wishlist}}
<div class="container">
    {{> components/account/navigation account_page='wishlists'}}
    <div class="account account--fixed">
        <h2 class="page-heading">
            <a class="go-back-link" href="/wishlist.php">
                <img src="{{cdn 'icons/back-arrow.svg'}}" />
            </a>
            {{wishlist.name}}
        </h2>
        
        {{#if wishlist.items}}
            {{#if wishlist.is_editable}}
                {{#if wishlist.is_public '>' 0}}
                    <div class="panel share-wishlist">
                        <div class="panel-body">
                            <h5>{{lang 'account.wishlists.share_intro'}}</h5>
                            <span class="wishlist-link">{{wishlist.share_url}}</span>
                        </div>
                    </div>
                {{/if}}
            {{/if}}
            {{> components/account/wishlist-item-list show_remove=wishlist.is_editable}}
        {{else}}
            <div class="no-info">
                <p>Your wish list is empty.<br />
                    When you add items to your wish list they will appear here.</p>
                <a class="btn btn__primary btn__account" href="/shop-all-products">{{lang 'create_account.created.continue'}}</a>
            </div>
        {{/if}}
    </div>
</div>
{{/if}}
{{/partial}}
{{> layout/base page_content="account" }}
