/*
// :: Description
// :: Features
*/

::-moz-selection {
   color: stencilColor('off-white');
   background: stencilColor('navy');
}

::selection {
   color: stencilColor('off-white');
   background: stencilColor('navy');
}

@mixin clearfix() {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}

@mixin domaine($color: stencilColor('navy'), $weight: 400) {
   color: $color;
   font-family: stencilFontFamily('domaine-font');
   font-weight: $weight;
}

@mixin freight($color: stencilColor('navy')) {
   color: $color;
   font-family: stencilFontFamily('freight-font');
   letter-spacing: 0.01em;
}

@mixin sweet-font($color: stencilColor('grey-2'), $weight: 400) {
   color: $color;
   font-family: stencilFontFamily('sweet-font');
   font-weight: $weight;
   letter-spacing: 0.1em;
   text-transform: uppercase;
   @include breakpoint('medium') {
      letter-spacing: 0.2em;
   }
}

@mixin rollerscript() {
   font-family: stencilFontFamily('rollerscript-font');
   text-transform: lowercase;
}

pre {
   color: #000;
}

.domaine-display,
.domaine {
   font-family: stencilFontFamily("domaine-font");
   font-weight: normal;
}

.sweet-sans {
   font-family: stencilFontFamily('sweet-font');
   font-weight: normal;
   letter-spacing: 0.05em;
   text-transform: uppercase;
}

.rollerscript {
   font-family: stencilFontFamily('rollerscript-font');
}

.freight-text {
   font-family: stencilFontFamily('freight-font');
   letter-spacing: 0.01em;
}

.divider {
   @extend .container;
   border-top: 1px solid stencilColor('navy');
}

.btn {
   display: inline-block;
   font-family: stencilFontFamily('sweet-font');
   letter-spacing: 0.1em;
   padding: 0.75rem 1rem;
   text-align: center;
   text-decoration: none;
   text-transform: uppercase;
   @include breakpoint('medium') {
      font-size: 1.1rem;
      // letter-spacing: 0.1em;
      padding: 0.75rem 2rem;
   }
   &__block {
      display: block;
      max-width: 415px;
      margin: 0 auto;
   }
   &__primary {
      background-color: stencilColor('navy');
      border: 1px solid stencilColor('navy');
      color: #fff;
      &:hover {
         background-color: #fff;
         color: stencilColor('navy');
      }
   }
   &__outline {
      background: #fff;
      border: 1px solid stencilColor('navy');
      color: stencilColor('navy');
      &:hover {
         background-color: stencilColor('navy');
         border: 1px solid stencilColor('navy');
         color: #fff;
      }
      &--false {
         background: rgba(#fff, 0.75);
         border: 1px solid stencilColor('grey-2');
         color: stencilColor('grey-2');
         @include breakpoint('medium') {
            border: 0;
         }
         &:hover {
            background: #fff;
            border: 0;
            color: stencilColor('grey-4');
         }
      }
   }
   &__account {
      padding: 0.5rem;
   }
   &__text {
      color: stencilColor('grey-2');
      border-bottom: 1px solid stencilColor('grey-2');
      line-height: 1.2;
      padding: 0;
      text-decoration: none;
      &:hover {
         border-bottom: 1px solid stencilColor('grey-4');
         color: stencilColor('grey-4');
      }
      + .btn__text {
         margin-left: 2rem;
      }
   }
}
.product__title--helper {
   @include domaine;
   font-size: 1.8rem;
   font-weight: 300;
   line-height: 1.2;
   @include breakpoint('large') {
      font-size: 2rem;
   }
}

// :: Description
.product__description--helper {
   @include freight();
   font-size: 1.5rem;
   letter-spacing: 0.05em;
   line-height: 1.6;
   text-align: left;
   
   @include breakpoint('medium') {
      font-size: 1.1rem;
      line-height: 1.5;
   }
}

// :: Features
.product__features--helper {
   color: stencilColor('grey-2');
   font-family: stencilFontFamily('sweet-font');
   font-size: 1rem;
   letter-spacing: 0.1em;
   line-height: 1.7;
   text-align: left;
   text-transform: uppercase;
   
   @include breakpoint('medium') {
      letter-spacing: 2px;
   }
}

// source: https://a11yproject.com/posts/how-to-hide-content/
.visually-hidden:not(:focus):not(:active) {
   position: absolute !important;
   height: 1px; 
   width: 1px;
   overflow: hidden;
   clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
   clip: rect(1px, 1px, 1px, 1px);
   white-space: nowrap;
   z-index: -1;
}