<nav class="account__sidebar--outer">
  <h3></h3>
  <nav class="sidebar__nav">
    <ul>
      {{#if gift_page '===' 'purchase'}}
      <li class="is-active">
        <a href="{{urls.gift_certificate.purchase}}">
          {{lang 'gift_certificate.purchase.heading'}}
        </a>
      </li>
      {{else}}
      <li>
        <a href="{{urls.gift_certificate.purchase}}">
          {{lang 'gift_certificate.purchase.heading'}}
        </a>
      </li>
      {{/if}}
      {{#if gift_page '===' 'redeem'}}
      <li class="is-active">
        <a href="{{urls.gift_certificate.redeem}}">
          {{lang 'gift_certificate.redeem.heading'}}
        </a>
      </li>
      {{else}}
      <li>
        <a href="{{urls.gift_certificate.redeem}}">
          {{lang 'gift_certificate.redeem.heading'}}
        </a>
      </li>
      {{/if}}
      {{#if gift_page '===' 'balance'}}
      <li class="is-active">
        <a href="{{urls.gift_certificate.balance}}">
          {{lang 'gift_certificate.balance.heading'}}
        </a>
      </li>
      {{else}}
      <li>
        <a href="{{urls.gift_certificate.balance}}">
          {{lang 'gift_certificate.balance.heading'}}
        </a>
      </li>
      {{/if}}
    </ul>
  </nav>
</nav>
