{{{ remote_api_scripts }}}

<div class="custom-cart-container" data-cart-quantity="{{cart.quantity}}">
    {{#each cart.items}}
    <div class="custom-cart-item">
        <div class="custom-cart-main-content">
            <div class="custom-cart-item-image">
                {{#if type '==' 'GiftCertificate'}}
                    <img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="{{getImage ../../theme_settings.default_image_gift_certificate 'productthumb_size' (cdn ../../theme_settings.default_image_gift_certificate)}}" alt="GiftCertificate" title="GiftCertificate">
                {{else}}
                    <img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="{{getImage image 'productthumb_size' (cdn ../../theme_settings.default_image_product)}}" alt="{{image.alt}}" title="{{image.alt}}">
                {{/if}}
            </div>
            <div class="custom-cart-item-details">
                <h4 class="custom-cart-item-name"><a href="{{url}}">{{#replace 'Certificate' name}}Card{{else}}{{name}}{{/replace}}</a></h4>
                {{#if type '!==' 'GiftCertificate'}}
                    <p class="cart-item-brand">BRAND: <span>{{brand.name}}</span></p>
                {{/if}}
                {{#if options}}
                    <dl class="definitionList">
                        {{#each options}}
                            <dt class="definitionList-key custom-cart-item-option-name">{{name}}:</dt>
                            <dd class="definitionList-value custom-cart-item-option-value">
                                {{#if is_file}}
                                    <a href="/viewfile.php?attributeId={{../id}}&cartitem={{../../id}}">{{value}}</a>
                                {{else}}
                                    {{value}}
                                {{/if}}
                            </dd>
                        {{/each}}
                    </dl>
                {{/if}}
                <div class="cart-item-actions">
                    {{#if options}}
                        <a class="cart-button white" href="#" data-item-edit="{{id}}">{{lang 'cart.checkout.change'}}</a>
                    {{/if}}
                    <a class="cart-remove" data-cart-itemid="{{id}}" href="#" data-confirm-delete="{{lang 'cart.confirm_delete'}}">
                        Remove
                    </a>
                </div>
            </div>
        </div>
        
        <div class="custom-cart-item-price-actions">
            <div class="cart-item-unit-price">
                {{total.formatted}}
            </div>
            <div class="form-increment">
                    {{# if can_modify}}
                        <button class="button button--icon decrease" data-cart-update data-cart-itemid="{{id}}" data-action="dec">
                            <span class="is-srOnly">{{lang 'products.quantity_decrease'}}</span>
                            -
                        </button>
                    {{/if}}
                    <input class="form-input form-input--incrementTotal cart-item-qty-input"
                            id="qty-{{id}}"
                            name="qty-{{id}}"
                            type="tel"
                            value="{{quantity}}"
                            data-quantity-min="{{min_purchase_quantity}}"
                            data-quantity-max="{{max_purchase_quantity}}"
                            data-quantity-min-error="{{lang 'products.quantity_min' quantity=min_purchase_quantity}}"
                            data-quantity-max-error="{{lang 'products.quantity_max' quantity=max_purchase_quantity}}"
                            min="1"
                            pattern="[0-9]*"
                            data-cart-itemid="{{id}}"
                            data-action="manualQtyChange"
                            aria-live="polite"{{#unless can_modify}} disabled{{/unless}}>
                    {{# if can_modify}}
                        <button class="button button--icon increase" data-cart-update data-cart-itemid="{{id}}" data-action="inc">
                            <span class="is-srOnly">{{lang 'products.quantity_increase'}}</span>
                            +
                        </button>
                    {{/if}}
            </div>
        </div>
</div>
    {{/each}}
</div>
