<h4 class="cart-totals-title">Continue to Checkout</h4>
<div class="custom-cart-subtotal">
    <span class="total-text">SUBTOTAL</span>
    <span class="total-text">{{cart.sub_total.formatted}}</span>
</div>
<div class="custom-cart-coupon-container">
    <span class="cart-total-label custom-coupon-code-text custom-promo-label">
        Add a promotional code
    </span>
    {{> components/cart/coupon-input}}
</div>
<div class="custom-cart-total">
    <span class="total-text">TOTAL</span>
    <span class="total-text">{{cart.grand_total.formatted}}</span>
</div>
<div class="custom-cart-checkout">
    {{#if cart.show_primary_checkout_button}}
        <div class="cart-actions">
            <a class="button button--primary" href="{{urls.checkout.single_address}}" title="{{lang 'cart.checkout.title'}}">SECURE CHECKOUT</a>
        </div>
    {{else}}
        <div class="cart-actions">
            <a class="button" href="{{urls.home}}" title="{{lang 'cart.continue_shopping'}}">{{lang 'cart.continue_shopping'}}dd</a>
        </div>
    {{/if}}
</div>
{{!-- <h4 class="cart-totals-title payment-title">Secure Checkout</h4>
<div class="payment-methods">
    <img src="{{cdn 'img/americanexpress.png'}}" alt="American Express Card" />
    <img src="{{cdn 'img/applepay.png'}}" alt="Apple Pay Card" />
    <img src="{{cdn 'img/bitcoin.png'}}" alt="Bitcoin Card" />
    <img src="{{cdn 'img/mastercard.png'}}" alt="Mastercard Card" />
    <img src="{{cdn 'img/paypal.png'}}" alt="Paypal Card" />
    <img src="{{cdn 'img/visa.png'}}" alt="Visa Card" />
</div> --}}
