// =============================================================================
// PRODUCT VIEW (CSS)
// =============================================================================


// Container
// -----------------------------------------------------------------------------

.page__type--product iframe {
    bottom: 90px !important;
    @include breakpoint('medium') {
        bottom: 0 !important;
    }
}

.preview-product-modal {
    max-width: 800px;
    width: 90%;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 50% !important;
    min-height: 200px;
    .modal-close {
        color: stencilColor('grey-4');
    }
}

&.previewCart-image {
    min-width: 100px;
    min-height: 100px;
    max-width: 200px;
    max-height: 200px;
    display: none;

    @include breakpoint("medium") {
        display: block;
    }
}

.modal-preview {
    display: flex;

    .preview-product-title {
        margin: 0 0 1rem 0;
        font-family: stencilFontFamily("domaine-font");
        color: stencilColor("navy");
        font-size: 1.5rem;
        font-weight: 300;
        line-height: 1.5rem;
        text-align: center;

        @include breakpoint("medium") {
            line-height: 2.5rem;
            font-size: 2.2rem;
            text-align: left;
        }
    }

    .preview-product-actions {
        display: flex;
        flex-direction: column;
        padding-left: 0;
        margin: 0 auto;
        justify-content: center;
        @include breakpoint("medium") {
            margin: 0;
            padding-left: 3rem;
        }
    }

    .preview-product-text {
        max-width: 300px;
        text-align: center;
        margin: 0;
        @include breakpoint("medium") {
            text-align: left;
        }
    }

    .preview-product-text, .preview-product-text a {
        font-family: stencilFontFamily("sweet-font");
        color: stencilColor("grey-2");
        font-size: 1rem;

        @include breakpoint("medium") {
            font-size: 1.2rem;
        }
    }

    .preview-product-text a {
        color: stencilColor("navy");
    }
}


.productView {
    @extend .container;
    display: flex;
    padding-bottom: 0;
    flex-direction: column;
    max-width: 1280px;

    @include breakpoint("medium") {
        flex-direction: row;
        padding: 2rem;
    }

    @include breakpoint('large') {
        padding: 0 1.5rem 3rem;
    }
}

.product__container--outer {
    padding-bottom: 3rem;
    @include breakpoint('medium') {
        padding-bottom: 6rem;
    }
    .productView-thumbnails {
        display: none;
    }
}


// Images
// -----------------------------------------------------------------------------

.productView-images {
    // flex: 1;
    // width: 100%;
    display: flex;
    flex-direction: column;
    // position: relative;
    @include breakpoint('medium') {
        margin-right: 3%;
        width: 47%;
    }
}

.productView-image {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    margin: auto;
    position: relative;

    @include breakpoint("medium") {
        min-width: inherit;
    }

    @media (min-width: $screen-xxsmall) and (max-width: $screen-medium) {
        pointer-events: none;
    }
}

.productView-img-container {
    position: relative;
    width: 100%;
    height: auto;
    width: 100%;

    @include breakpoint("medium") {
        // max-height: 550px;
    }

    @include breakpoint("xlarge") {
        // max-height: 700px;
    }
    img {
        // @include lazy-loaded-img;
        position: relative;
        height: auto;
        min-width: 100%;
        margin: 0;

        @include breakpoint("medium") {
            // position: absolute;
            height: auto;
            margin: auto;
        }

    }

    @include breakpoint("medium") { 
        // @include lazy-loaded-padding('product_size');
    }

    &.previewCart-img-container {
        position: initial;
        width: auto;
        height: auto;

        .img {
            min-width: 100%;
            min-height: 100%;
        }
    }
}

.productView-thumbnails {
    display: none;
    justify-content: space-between;
    @include u-listBullets("none");
    @include grid-row($behavior: "nest");

    margin-left: -(spacing("quarter"));
    margin-right: -(spacing("quarter"));
    margin: .5rem 0 0;
    .slick-list {
        margin-left: remCalc(40px);
        margin-right: remCalc(40px);
    }

    .slick-next {
        right: 0;
    }

    .slick-prev {
        left: 0;
    }

    img {
        // @include lazy-loaded-img;
        min-height: 50px;
        min-width: 50px;
        width: 100%;
        margin: 0;
        height: 100%;
    }

    @include breakpoint("medium") {
        display: flex;
    }

}

.productView-thumbnail {
    // flex: 1;
    padding: 0;
    text-align: center;
    width: 25%;
    &:not(:last-of-type) {
        margin-right: .5rem;
    }

    &:nth-child(4n+5) {
        display: none;
    }

    &:nth-child(4n+4) {
        margin-right: 0;
    }
}

.productView-thumbnail-link {
    height: 100%;
    display: inline-block;
    min-height: 120px;
    padding: 2px;
    position: relative;
    text-align: center;
    width: 100%;

    @include breakpoint("xlarge") {
        min-height: 150px;
    }

    &:hover,
    &.is-active {
        border-color: color("greys", "darker");
    }
}


// Details
// -----------------------------------------------------------------------------

.productView-details {
    display: flex;
    // flex: 1;
    flex-direction: column;
    padding: 0;
    position: relative;
    z-index: 2;
    
    @include breakpoint('medium') {
        margin-left: 1%;
        padding: 3rem 0 5rem 5rem;
        width: 47%;
    }

    .vertical-text {
        position: absolute;
        top: 75%;
        left: -5%;
        color: stencilColor("navy");
        transform: translateX(0) rotate(-90deg);
        font-family: stencilFontFamily("rollerscript-font");
        font-size: 2rem;
        transform-origin: 0 0;
        z-index: 499;
        display: none;
        overflow: visible;
        white-space: nowrap;
        width: 65%;
        
        @include breakpoint("large") {
            // min-width: inherit;
            display: none;
            justify-content: center;
            align-items: center;
        }

        img {
            max-width: 250px;
        }
    }
}


// Details - Product details
// -----------------------------------------------------------------------------

.productView-product {
    display: flex;
    flex-direction: column;
    order: 1;
    @include breakpoint("medium") {
        padding-bottom: 1rem;
    }

    > :last-child {
        margin-bottom: 0;
    }
}

.product-description {
    @extend .product__description--helper;
    order: 2;
    padding: 1rem 0 0;
    color: stencilColor("navy");
    font-family: stencilFontFamily("freight-font");
    text-align: left;

    @include breakpoint("medium") {
        max-width: 580px;
        padding: 1rem 0;
    }

    @include breakpoint('large') {
        padding: 2.5rem 0 0.5rem;
    }
}

.product-features {
    @extend .product__features--helper;
    display: flex;
    flex-direction: column;
    max-width: 580px;
    order: 2;
    padding-bottom: 1rem;
    
    @include breakpoint("medium") {
        display: flex;
        padding: 0 0 1rem;
    }
}

.product-explore {
    display: none;
    .product__container--outer & {
        display: flex;
        order: 4;
    }
}

.explore-all-button {
    order: 5;
    max-width: 250px;
    text-align: center;
    padding: 0.5em;
    background-image: url('../img/touch-texture.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    border: none;

    a {
        text-transform: uppercase;
        text-decoration: none;
        color: stencilColor("navy");
        letter-spacing: 1px;
        font-family: stencilFontFamily("sweet-font");
        font-size: 12px;

        @include breakpoint("small") {
            font-size: 14px;
        }
        
    }
}

.wishlist-dropdown-container {
    align-items: center;
    display: flex;
    justify-content: center;
    .button.dropdown-menu-button {
        align-items: center;
        display: flex;
        justify-content: center;
        padding: 0 0.5rem 0 1rem;
    }
    .icon {
        float: none;

        svg {
            height: 21px;
            width: auto;
        }
    }

    .dropdown-menu-button {
        border: none;
        padding: 0.5em 1em 0 1em;

        .icon {
            margin-left: 0;
        }

        @include breakpoint("small") {
            padding:  0.5em 1em 0 0.5em;
        }

        @include breakpoint("medium") {
            padding: 0em 1em;
        }
    }

    #wishlist-dropdown.is-open {
        padding-right: 0;
        padding: 1rem 0;
        -webkit-box-shadow: -2px 2px 10px -6px rgba(0,0,0,0.39);
        -moz-box-shadow: -2px 2px 10px -6px rgba(0,0,0,0.39);
        box-shadow: -2px 2px 10px -6px rgba(0,0,0,0.39);
        z-index: 100;
        left: 0 !important;
        position: relative;
        background: white;
        margin-top: 1.4em;
        
        .button, .button--has-items {
            font-size: 1.2rem;
            background-color: transparent;
            border: none;
            color: stencilColor("grey-2");
            font-family: stencilFontFamily("sweet-font") !important;
            padding: .5rem;
            font-weight: 300 !important;
            &:hover {
                color: stencilColor("navy");
            }
        }
    }

    @include breakpoint("medium") {
        display: flex;
        margin: 0;
    }
}

.productView-title {
    border-bottom: 1px solid stencilColor('pink');
    color: stencilColor("navy");
    font-family: stencilFontFamily("domaine-font");
    font-size: 2.1618rem;
    font-weight: 300;
    margin: 0;
    padding-bottom: 0.5rem;
    @include breakpoint('small') {
    }
    @include breakpoint("medium") {
        border: 0;
        display: block;
        font-size: 3rem;
        line-height: 1.2;
        max-width: 400px;
        max-width: 300px;
        margin: 0;
        padding-bottom: 0;
    }
}

.productView-brand, .responsive-brand {
    color: stencilColor("grey-2");
    font-family: stencilFontFamily("sweet-font");
    font-size: 1rem;
    margin: 0 0 spacing("half");

    @include breakpoint("medium") {
        text-align: left;
    }

    a {
        color: stencilColor("grey-2");
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 300;
    }
}

.productView-brand {
    display: none;

    @include breakpoint("medium") {
        display: block;
        text-align: left;
    }
}

// Details - Product price
// -----------------------------------------------------------------------------

.productView-price {
    font-size: fontSize("smaller");
    letter-spacing: 0.05em;
    margin-bottom: spacing("third");

    @include breakpoint("medium") {
        font-size: fontSize("larger");
        margin-bottom: spacing("base");
    }

    .price-section--saving {
        font-size: fontSize("smaller");
    }

    abbr {
        border: 0;
        color: inherit;
        font-size: inherit;
    }
}

.productView-reviewLink {
    display: inline-block;
    margin-left: spacing("half");
    vertical-align: middle;

    + .productView-reviewLink {
        display: block;
        margin-left: auto;

        @include breakpoint("small") {
            display: inline-block;
            margin-left: spacing("half");
        }
    }

    > a {
        color: stencilColor("color-textSecondary");

        // scss-lint:disable NestingDepth
        &:hover {
            color: stencilColor("color-textSecondary--hover");
        }
    }
}


// Details - Product Information
// -----------------------------------------------------------------------------

.productView-info {
    @include clearfix;
    margin-top: spacing("half");

    @include breakpoint("small") {
        margin-top: 0;
    }

    > :first-child {

        @include breakpoint("small") {
            margin-top: spacing("single");
        }
    }

    > :last-child {
        margin-bottom: 0;
    }
}

.productView-info-name,
.productView-info-value {
    float: left;

    @include breakpoint("small") {
        float: none;
    }
}

.productView-info-name {
    clear: both;
    margin-bottom: spacing("eighth");
    margin-right: spacing("quarter");

    @include breakpoint("small") {
        font-family: fontFamily("headingSans");
        font-size: fontSize("smallest");
        font-weight: fontWeight("normal");
    }
}

.productView-info-value {
    margin-bottom: spacing("quarter");

    @include breakpoint("small") {
        margin-bottom: spacing("base");
    }
}


// Details - Product options
// -----------------------------------------------------------------------------
//
// 1. Align the product options list item radios vertically.
// 2. Resetting font due to inline-block whitespace issue.
// 3. File upload button does not properly display in IE if font-size is 0
//
// -----------------------------------------------------------------------------

.productView-options {
    order: 3;
    padding: 0 0 1.5rem;
    // border-bottom: 1px solid #e5b593;
    max-width: 580px;
    position: relative;
    z-index: 800;
    
    @include clearfix;

    @include breakpoint("small") {
        text-align: left;
    }

    @include breakpoint("medium") {
        padding: 0;
        order: 2;
    }

    .form-input[type="number"] {
        @include breakpoint("small") {
            width: grid-calc(2, $total-columns);
        }
    }

    .form {
        display: inline;
    }

    input[type="file"] {
        font-size: fontSize("smallest"); // 3
    }

    .form-field {
        font-size: 0; // 2
        margin-bottom: 2rem;

        // scss-lint:disable SelectorDepth, NestingDepth
        > .form-checkbox + .form-label,
        > .form-radio + .form-label {
            display: inline-block;
            margin-left: spacing("single");
            width: auto;

            @include breakpoint("small") {
                margin-left: 0;
                width: 100%;
            }
        }

        > .form-label:nth-of-type(2) {
            margin-left: 0;
        }
    }

    .form-action {

        @include breakpoint("small") {
            float: left;
            padding: 0 remCalc(10);
            width: 50%;
        }

        @include breakpoint("medium") {
            float: none;
            padding: 0;
            width: auto;
        }

        @include breakpoint("large") {
            display: inline-block;
            margin-top: 1rem;
        }

        // scss-lint:disable SelectorDepth, NestingDepth
        .button {
            width: 100%;

            @include breakpoint("large") {
                margin-right: spacing("half");
                width: auto;
            }
        }
    }

    .product-options-container {
        border-color: stencilColor("pink");
        @include breakpoint('medium') {
            border-bottom: 1px solid;
        }
    }

    .product-options-inner {
        @include breakpoint("medium") {
            padding: 1.5rem 0 0;
        }

        .form-field {
            margin-bottom: .5rem;
        }
    }

    .add-to-cart-container {
        align-items: center;
        background-color: #fff;
        border-top: 1px solid stencilColor('pink');
        border-bottom: 1px solid stencilColor('pink');
        bottom: 0;
        display: flex;
        justify-content: space-between;
        left: 0;
        padding: 1rem;
        position: fixed;
        right: 0;
        width: auto;

        .product__container--outer & {
            display: none;
        }

        @include breakpoint("medium") {
            font-size: 1.25rem;
            padding: 1rem 0;
            position: static;
        }
        
        
        .product-price {
            color: stencilColor("navy");
            font-family: stencilFontFamily("sweet-font");
            font-size: 1.5rem;
            line-height: 1;
            letter-spacing: 0.05em;
            padding-right: 1rem;

            @include breakpoint("medium") {
                font-size: 1.25rem;
            }
        }

        .product-qty-and-purchase {
            display: flex;
            position: relative;
            flex: 1;
            justify-content: flex-end;

            .form-field, 
            .form-action,
            .form-label,
            .button {
                margin: 0;
            }

            .form-field--increments {
                display: flex;
                flex: 1;
            }

            .form-action {
                width: auto;
            }

            .form-label {
                display: none;
            }

            .form-increment {
                display: flex;
                margin-right: 10px;
            }

            .form-action .button {
                border: 1px solid;
                border-color: stencilColor("navy");
                background-color: stencilColor("navy");
                font-family: stencilFontFamily("sweet-font");
                font-size: 1rem;
                border-radius: 0;
                color: #fff;
                line-height: 1;
                letter-spacing: 0.1em;
                text-transform: uppercase;
                padding: 1rem 1rem;
                transition: all .3s;
                &:hover {
                    background-color: #fff;
                    color: stencilColor("navy");
                }

                @include breakpoint('large') {
                    font-size: 1.25rem;
                    padding: 1rem 2rem;
                }

                &.decrease,
                &.increase {
                    text-align: center;
                    width: calc(100%/3);
                }
                
            }
        }
    }
}


// Product list (with images)
// -----------------------------------------------------------------------------

.productOptions-list {
    border: $productOptions-list-border;
    list-style: none;
    margin: 0;
}

.productOptions-list-item {
    padding: $productOptions-list-item-padding;

    + .productOptions-list-item {
        border-top: $productOptions-list-item-borderTop;
    }

    .form-label {
        text-align: left;
        top: -2px; // 1
    }
}

.productOptions-list-item-figure,
.productOptions-list-item-content {
    display: table-cell;
    vertical-align: middle;
}

.productOptions-list-item-figure {
    width: $productOptions-list-item-figure-width;
}

.productOptions-list-item-content {
    padding-left: $productOptions-list-item-content-paddingLeft;
}


// Share products
// -----------------------------------------------------------------------------

.shareProduct {
    text-align: center;
}


// EasyZoom settings for zoomable product image
// 

.productView-image .easyzoom-flyout {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;

    img {
        max-width: none;
        width: auto;
    }
}

.product-poster{
    background-color: stencilColor("gray-3");
    display: flex;
    margin-top: 0;
    justify-content: center;
    padding: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @include breakpoint("medium") {
        background-image: none;
        margin-top: 100px;
        padding: 0 1rem 0 8rem;
    }
    .inner {
        max-width: 1400px;
        position: relative;
        display: flex;
        flex: 1;
        justify-content: center;
    }

    .icons {
        margin-bottom: 2rem;
    }

    .post {
        background-color: #F9F5EF;
        color: stencilColor("navy");
        font-family: stencilFontFamily("sweet-font");
        font-size: 1rem;
        max-width: 550px;
        min-height: 500px;
        margin-top: 0;
        padding: 3.3rem 1.7rem;
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 3.3em;

        @include breakpoint("medium") {
            min-width: 400px;
        }

        @include breakpoint("medium") {
            padding: 3.3rem 2.8rem;
            font-size: 1.2rem;
            width: 100%;
        }

        @include breakpoint("large") {
            width: 50%;
        }

        .right-image {
            position: absolute;
            bottom: 0;
            left: -160px;
            height: 264px;
            width: 195px;
            display: none;

            @include breakpoint("medium") {
                display: block;
            }
        }

        // &::before {
        //     content: "";
        //     position: absolute;
        //     bottom: 0;
        //     left: -140px;
        //     height: 264px;
        //     width: 195px;
        //     background-image: url("../img/product-post-line.png");
        //     background-size: contain;
        //     background-position: bottom;
        //     background-repeat: no-repeat;
        //     display: none;

        //     @include breakpoint("medium") {
        //         display: block;
        //     }
        // }
    }

    .post-image {
        width: 60%;
        display: none;
        margin-left: 1em;

        @include breakpoint("large") {
            display: flex;
            align-items: center;
        }
    }

    .post-footer {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    
}

.button-read {
    background-color: stencilColor("navy");
    text-align: center;
    padding: 0 1rem;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    border-color: stencilColor("navy");
    transition: all .3s;

    @include breakpoint("medium") {
        padding: 0 1.5rem;
    }

    a {
        text-decoration: none;
        font-family: stencilFontFamily("sweet-font");
        font-size: 0.8rem;
        color: stencilColor("grey");

        @include breakpoint("medium") {
            font-size: 1rem;
        }
    }

    &:hover {
        background-color: transparent;
        a {
            color: stencilColor("navy");
        }
    }
}

.icons {
    display: none;

    @include breakpoint("large") {
        display: flex;
    }
}

.icons .icon {
    width: 20px;
    height: 17px;
    margin-right: 1rem;
    img {
        min-width: 100%;
        min-height: 100%;
    }
} 

.product-qualities {
    display: flex;
    flex-direction: column;
    max-width: 1680px;
    margin: 0 auto;

    @include breakpoint("medium") {
        flex-direction: row;
    }

    .product-quality-image {
        background-color: stencilColor('color-gaze');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }

    .product-quality-image, .qualities {
        display: flex;
        width: 100%;

        @include breakpoint("medium") {
            width: 50%;
        }
    }

    .qualities {
        border-left: 1px solid;
        border-top: 1px solid;
        border-color: stencilColor("gray-4");
        flex-wrap: wrap;
        display: flex;
    }
    
    .quality {
        height: auto;
        width: 100vw;
        display: flex;
        flex-direction: column;
        padding: 3rem 1rem;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid;
        border-color: stencilColor("gray-4");
        width: 50%;

        @include breakpoint("medium") {
            height: auto;
            justify-content: flex-start;
            padding: 7rem 3.5rem;
        }

        @include breakpoint("xlarge") {
            justify-content: center;
        }
    }

    .quality:nth-child(1), .quality:nth-child(3) {
        border-right: 1px solid;
        border-color: stencilColor("gray-4"); 
    }

    .quality-icon {
        width: 87px;
        height: 87px;
    }

    .quality-title, .quality-description {
        font-family: stencilFontFamily("sweet-font");
        font-size: 1rem;
        color: stencilColor("navy");
        text-align: center;
    }

    .quality-description {
        flex: 1;
        @include breakpoint("medium") {
            flex: inherit;
        }
        
    }

    .quality-title {
        text-transform: uppercase;
        font-size: 0.8rem;
        margin: 1.5rem 0 .5rem;

        @include breakpoint("medium") {
            font-size: 1.3rem;
        }
    }
}

.product-post-container {
    // display: flex;
    // flex-direction: column;

    // @include breakpoint("medium") {
    //     flex-direction: row;
    // }

    .btn {
        margin-bottom: 2rem;
    }

    .story-meta {
        @extend .product__features--helper;
    }
    .story-header-text {
        &.sense_taste .story-meta {
            color: #fff;
        }
        &.sense_touch .story-meta,
        &.sense_gaze .story-meta {
            color: #000;
        }
    }

    .product-blog-post-details {
        margin-bottom: 2rem;
        display: none;
        .product-blog-text {
            padding-right: 2rem;
        }

        .product-blog-post-date {
            position: relative;

            &::before {
                position: absolute;
                content: "•";
                top: 50%;
                transform: translateY(-50%);
                right: 5px;
                font-family: stencilFontFamily("sweet-font");
                font-size: 1.5rem;
            }
        }

        @include breakpoint("medium") {
            display: block;
        }
    }

    .product-blog-post-content {
        flex: 1;
    }

    .product-blog-post-paragraph {
        font-size: 1rem;

        @include breakpoint("medium") {
            font-size: 1.3rem;
        }

        @include breakpoint("xlarge") {
            font-size: 1.4rem;
        }
    }

    .product-blog-post-actions {
        // display: flex;
        // justify-content: space-between;
        padding-top: 1rem;
        .btn {
            display: inline-block;
            margin-bottom: 1rem;
        }

        @include breakpoint("medium") {
            padding-top: 3rem;
        }
    }
}
