.page__hero--outer {
   align-items: center;
   background-repeat: no-repeat;
   background-position: center top;
   background-size: cover;
   display: flex;
   font-family: stencilFontFamily('domaine-font');
   height: 80vh;
   justify-content: center;
   position: relative;
   text-align: center;
   @include breakpoint('medium') {
      align-items: flex-end;
      height: 70vh;
      max-height: 870px;
   }
   .page__hero--inner {
      align-items: flex-start;
      display: flex;
      justify-content: center;
      @include breakpoint('small') {
         justify-content: flex-start;
      }
      @include breakpoint('large') {
         max-width: 1400px;
      }
      .page__hero--branding {
         padding-bottom: 3rem;
         img {
            max-width: 250px;
         }
      }
      h1 {
         color: stencilColor("off-white");
         font-size: $fontSize-root * 2.5;
         line-height: 1.4;
         z-index: 1;
         @include breakpoint('large') {
            font-size: $fontSize-hero;
            max-width: 350px;
         }
      }
      .page__hero--subheading {
         color: stencilColor("off-white");
         font-size: $fontSize-root * 2.5;
         line-height: 1;
         z-index: 1;
         @include breakpoint('large') {
            font-size: $fontSize-hero - 10;
         }
      }
      .page__hero--arrow {
         height: auto;
         margin: 0 0 3rem 10%;
         max-width: 80px;
      }
   }
}
