.page__hero--outer.page__learn {
   align-items: flex-start;
   background-image: url('../img/blog-hero-mobile.jpg');
   background-position: center center;
   height: 60vh;
   justify-content: flex-start;
   min-height: 300px;
   text-align: left;
   @include breakpoint('medium') {
      align-items: center;
      background-image: url('../img/blog-hero.jpg');
      height: 30vh;
      justify-content: center;
   }
   .page__hero--inner {
      flex-flow: column nowrap;
   }
   .page__hero--inner {
      .page__hero--heading {
         color: stencilColor("white");
         font-family: stencilFontFamily("domaine-font");
         font-size: $fontSize-root * 2.5;
         font-weight: normal;
         margin-bottom: 0;
         text-align: left;

         @include breakpoint("medium") {
            line-height: 1.2;
            margin: 3.5rem 0 1rem;
            br {
               display: none;
            }
         }
         @include breakpoint($screen-xmedium) {
               font-size: 2.75rem;
         }
         @include breakpoint($screen-xlarge) {
               font-size: 3rem;
         }
      }
      .page__hero--subheading {
        color: stencilColor('white');
        font-family: stencilFontFamily('sweet-font');
        font-size: 1.1rem;
        letter-spacing: 0.1em;
        line-height: 1.3;
        margin: 0 0 1.5rem;
        text-align: left;
        width: 85%;
        br.mobile-only {
            display: inline-block;
            @include breakpoint('small') {
                display: none;
            }
        }
        br.desktop-only {
            display: none;
            @include breakpoint('small') {
                display: inline-block;
            }
        }
      }
   }
}

.page__hero--outer {
   align-items: center;
   background-image: url('../img/hero-couples-kit-experience-mobile.jpg');
   background-color: stencilColor('navy');
   background-repeat: no-repeat;
   background-position: center top;
   background-size: cover;
   display: flex;
   font-family: stencilFontFamily('domaine-font');
   height: 85vh;
   justify-content: center;
   position: relative;
   text-align: center;
   @include breakpoint('medium') {
      align-items: flex-end;
      background-image: url('../img/hero-couples-kit-experience.png');
      height: 80vh;
   }
   .page__hero--inner {
      align-items: flex-start;
      display: flex;
      justify-content: center;
      @include breakpoint('small') {
         justify-content: flex-start;
      }
      .page__hero--branding {
         padding-bottom: 3rem;
         img {
            max-width: 170px;
         }
      }
      h1 {
         color: stencilColor("off-white");
         font-size: $fontSize-root * 2.5;
         line-height: 1.4;
         z-index: 1;
         @include breakpoint('large') {
            font-size: $fontSize-hero;
            max-width: 350px;
         }
      }
      .page__hero--subheading {
         color: stencilColor("off-white");
         font-size: $fontSize-root * 2.5;
         line-height: 1;
         z-index: 1;
         @include breakpoint('large') {
            font-size: $fontSize-hero - 10;
         }
      }
      .page__hero--arrow {
         height: auto;
         margin: 0 0 3rem 10%;
         max-width: 80px;
      }
   }
}
