.page__hero--outer {
   align-items: flex-end;
   background-repeat: no-repeat;
   background-position: center top;
   background-size: cover;
   display: flex;
   font-family: stencilFontFamily('domaine-font');
   min-height: 50vh;
   justify-content: center;
   position: relative;
   &:before {
      background-color: rgba(#000, 0.2);
      bottom: 0;
      content: '';
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 0;
   }
   @include breakpoint('large') {
      min-height: 70vh;
   }
   .page__hero--inner {
      @extend .container;
      padding-bottom: 3rem;
      h1 {
         color: stencilColor("off-white");
         font-size: $fontSize-root * 2.5;
         line-height: 1.4;
         z-index: 1;
         @include breakpoint('large') {
            font-size: $fontSize-hero;
         }
      }
      .page__hero--subheading {
         color: stencilColor("off-white");
         font-size: $fontSize-root * 2.5;
         line-height: 1;
         z-index: 1;
         @include breakpoint('large') {
            font-size: $fontSize-hero - 10;
         }
      }
      .page__hero--arrow {
         height: auto;
         margin: 0 0 3rem 10%;
         max-width: 80px;
      }
   }
}
