.page__pullquote--outer {
   align-items: center;
   display: flex;
   font-family: stencilFontFamily('domaine-font');
   justify-content: center;
   padding-bottom: 3rem;
   padding-top: 3rem;
   text-align: center;
   @include breakpoint('medium') {
      padding-bottom: 0;
      padding-top: 5rem;
   }

   + .page__pullquote--outer {
      padding-top: 0;
      @include breakpoint('medium') {
         padding-top: 5rem;
      }
   }

   &.background-light-pink {
      background: stencilColor('light-pink');
   }
   &.background-white {
      background: #fff;
   }
   &.background-off-white {
      background: stencilColor('off-white');
   }
   &.background-about {
      background: #f7f3ed;
   }

   &.text-navy {
      color: stencilColor('navy');
   }
   .page__pullquote--inner {
      margin-left: auto;
      margin-right: auto;
      max-width: 1140px;
      padding: 0;
      position: relative;
      width: layout("fixed");
      @include breakpoint('large') {
         max-width: 1040px;
         padding: 0 1.5rem;
      }
      @media (min-width: $screen-xlarge) {
         max-width: 1140px;
      }
      h1 {
         font-size: $fontSize-root * 1.5;
         line-height: 1.4;
         margin: 0 auto;
         z-index: 1;
         br {
            display: none;
         }
         @include breakpoint('medium') {
            font-size: $fontSize-root * 2.5;
            max-width: 80%;
            br {
               display: inline-block;
            }
         }
      }
      .page__pullquote--subheading {
         font-size: $fontSize-root * 1.75;
         line-height: 1;
         padding: 2rem 0 0;
         z-index: 1;
         @include breakpoint('medium') {
            font-size: $fontSize-root * 2.5;
         }
         @include breakpoint('large') {
            font-size: $fontSize-hero - 10;
         }
         &.sweet-sans {
            font-size: 1.1rem;
            line-height: 1.4;
            letter-spacing: 0.1em;
            text-transform: none;
            @include breakpoint('medium') {
               font-size: 1.5rem;
            }
            // TEMP:
            br {
               @include breakpoint('medium') {
                  display: none;
               }
            }
         }
      }
      .page__pullquote--arrow {
         height: auto;
         margin: 0 0 3rem 10%;
         max-width: 80px;
      }
   }

   .divider {
      margin: 3rem auto 0;
   }
}

.stories-landing .page__pullquote--outer {
   .divider {
      width: calc(100% - 40px);
      @include breakpoint('medium') {
         width: 100%;
      }
   }
}
