<li class="product">
    {{>components/products/custom-sense-card
      url="/afterglow-massage-candle/"
      img="https://cdn11.bigcommerce.com/s-t82b4z0jtn/images/stencil/500x659/products/115/392/vela1__50305.1556051056.jpg?c=2"
      name="Afterglow Massage Candle"
      price="29.00" 
      brand="JIMMYJANE"
      settings=../settings
    }}
  </li>
  <li class="product">
    {{>components/products/custom-sense-card
      url="/adori-stones/"
      img="https://cdn11.bigcommerce.com/s-t82b4z0jtn/images/stencil/500x659/products/116/393/product2__30538.1556051932.jpg?c=2"
      name="Adori Stones"
      price="60.00" 
      brand="DESIRABLE"
    }}
  </li>
  <li class="product">
    {{>components/products/custom-sense-card
      url="/uberlube-50/"
      img="https://cdn11.bigcommerce.com/s-t82b4z0jtn/images/stencil/500x659/products/117/394/product3__74355.1556052146.jpg?c=2"
      name="Uberlube 50ML"
      price="18.00" 
      brand="Uberlube"
    }}
  </li>
  <li class="product">
    {{>components/products/custom-sense-card
      url="/pillo/"
      img="https://cdn11.bigcommerce.com/s-t82b4z0jtn/images/stencil/500x659/products/118/403/Pillo_Side__93715.1556206799.jpg?c=2"
      name="Pillo"
      price="95.00" 
      brand="Dame"
    }}
  </li>

