<li class="product">
    {{>components/products/custom-sense-card
      url="/women-designed-condoms/"
      img="https://cdn11.bigcommerce.com/s-t82b4z0jtn/images/stencil/500x659/products/93/391/HANX__72517.1556048466.jpg?c=2"
      name="Women Designed Condoms"
      price="50.00" 
      brand="hanx"
      settings=../settings
    }}
  </li>
  <li class="product">
    {{>components/products/custom-sense-card
      url="/fin/"
      img="https://cdn11.bigcommerce.com/s-t82b4z0jtn/images/stencil/500x659/products/119/396/fin__42677.1556119402.jpg?c=2"
      name="Fin"
      price="75.00" 
      brand="Dame"
    }}
  </li>
  <li class="product">
    {{>components/products/custom-sense-card
      url="/pocket-vibe-silver/"
      img="https://cdn11.bigcommerce.com/s-t82b4z0jtn/images/stencil/500x659/products/120/404/Pocket_Vibe_Silver__30087.1556207233.jpg?c=2"
      name="Pocket Vibe Silver"
      price="89.00" 
      brand="Crave"
    }}
  </li>
  <li class="product">
    {{>components/products/custom-sense-card
      url="/the-heart/"
      img="https://cdn11.bigcommerce.com/s-t82b4z0jtn/images/stencil/500x659/products/121/402/stone__69941.1556127722.jpg?c=2"
      name="The Heart"
      price="169.00" 
      brand="CHAKRUBS"
    }}
  </li>

