// =============================================================================
// FOOTER (CSS)
// =============================================================================


// Layout and columns
// -----------------------------------------------------------------------------
//
// 1. To enable the grid's display: inline-block; to work properly, we need to
//    remove the white-space that it creates between columns with font-size: 0;
// 2. Re-set the font-size that was reduced to 0 in point 1 for children.
//
// -----------------------------------------------------------------------------

.footer {
    background-color: stencilColor("white");
    border-top: 1px solid stencilColor("pink");
    padding: 3em 0;

    &.footer-lg {
        display: none;

        @include breakpoint("medium") {
            display: block;
        }
    }

    &.footer-sm {
        display: block;

        @include breakpoint("medium") {
            display: none;
        }
    }
}

.footer-info {
    display: flex;
    font-size: 0; // 1
}

.footer-info-col {
    @include grid-column(12);
    color: stencilColor("grey-2");
    display: inline-block;
    float: none;
    font-family: stencilFontFamily("freight-font");
    font-size: fontSize("base"); // 2
    margin-bottom: spacing("double");
    text-align: center;
    vertical-align: top;

    @include breakpoint("small") {
        width: 50%;
    }

    @include breakpoint("medium") {
        min-width: 14%;
        text-align: left;
        width: auto;
    }

    &.newsletter {
        width: 33%;
        margin-left: auto;
        
        #subscription-form {
            margin-left: 1.5rem;
            margin-right: 1.5rem;
            width: calc(100% - 3rem);
            
            @include breakpoint("medium") {
                margin-left: 0;
                margin-right: 0;
                width: auto;
            }
            
            form {
                max-width: 100%;
            }
            
            input[type='email'] {
                background: white;
                border: 1px solid stencilColor("grey");
                border-radius: 0;
                border-right: 0;
                color: stencilColor("navy");
                font-family: stencilFontFamily("domaine-font");
                font-size: 1.1rem;
                padding: 0 .5rem;
                
                &::placeholder {
                    font-family: stencilFontFamily("domaine-font");
                    font-size: 1.1rem;
                }
            }
            
            button {
                background-color: stencilColor("pink");
                border: 1px solid stencilColor("grey");
                border-radius: 0;
                color: white;
                font-family: stencilFontFamily("sweet-font");
                letter-spacing: 2px;
                margin: 0;
                text-transform: uppercase;
                
                &:hover {
                    background-color: stencilColor("grey");
                }
            }
        }
        
        .subscribe-text {
            font-size: 1.5rem;
        }

        .connect-text {
            font-family: stencilFontFamily("domaine-font");
            font-size: 1.2rem;
            margin-bottom: .6rem;
        }

        .form-prefixPostfix {
            display: flex;
            font-family: stencilFontFamily("freight-font");
            justify-content: center;
            margin: 0 auto;
        }

        .social-links {
            p {
                display: inline-block;
                font-size: 0;
                margin: 0 1rem 0 0;
            }
            
            a {
                border: 1px solid stencilColor("grey-2");
                border-radius: 50%;
                color: stencilColor("grey-2");
                display: block;
                height: 30px;
                text-align: center;
                text-decoration: none;
                vertical-align: top;
                width: 30px;
                
                &:hover {
                    background-color: stencilColor("grey-2");
                    color: white;
                }
            }
            
            svg {
                height: 60%;
                position: relative;
                top: 20%;
                width: 60%;
            }
        }
    }

    > :first-child {
        margin-top: 0;
    }

    > :last-child {
        margin-bottom: 0;
    }
}

.footer-info-col--small {
    @include breakpoint("medium") {
        width: 12%;
    }
}

.footer-info-col--social {
    width: 100%;
}

.footer-info-col--left {
    @include breakpoint("small") {
        padding: 0;
    }
}

.footer-info-col--right {
    @include breakpoint("small") {
        left: 50%;
        position: inherit;
    }

    @include breakpoint("medium") {
        left: 0;
        padding: 0;
        text-align: right;
    }
}


// Content
// -----------------------------------------------------------------------------

.footer-info-heading {
    color: stencilColor("navy");
    font-family: stencilFontFamily("domaine-font");
    font-size: 20px;
    text-transform: inherit;
    letter-spacing: 0px;
    font-weight: 300;
}

.footer-info-list {
    font-family: stencilFontFamily("freight-font");
    list-style: none;
    margin-left: 0;

    a {
        color: stencilColor("grey-2");
        font-size: 1.5rem;
        text-decoration: none;

        &:hover {
            color: stencilColor("navy");
        }
    }
}

.footer-copyright {
    text-align: center;

    > .powered-by {
        font-family: stencilFontFamily("sweet-font");
        color: stencilColor("grey-2");
        font-size: fontSize("tiny");
        margin: 0;
    }

    a {
        font-family: stencilFontFamily("sweet-font");
        color: stencilColor("grey-2");
        text-decoration: none;

        // scss-lint:disable NestingDepth
        &:hover {
            color: stencilColor("navy");
        }
        // scss-lint:enable NestingDepth
    }
}

.footer-payment-icons {
    height: remCalc(40);
    margin-top: spacing("single");

    @include breakpoint("medium") {
        margin-top: spacing("double");
    }

    .footer-payment-icon {
        height: 100%;
        margin: spacing("quarter");
        vertical-align: middle;
        width: remCalc(50);
    }

    svg {
        fill: stencilColor("icon-color");
    }
}

.footer-geotrust-ssl-seal {
    @include breakpoint("small") {
        bottom: 0;
        position: absolute;
        right: 16px;
    }

    table {
        margin: auto;
    }
}

.footer-newsletter-summary {
    text-align: left;
}

.footer-sm {
    padding: 0;

    .container {
        padding: 0;
    }

    .footer-info {
        flex-direction: column;
    }

    .newsletter, .footer-info-col {
        width: 100%;
        margin: 0;
        padding: 0 0 0.5em 0;
    }

    .footer-info-heading {
        margin-bottom: 0;
        padding-top: 0.5em;
        border-top: 1px solid stencilColor("pink");
    }

    .newsletter {
        margin: 1em 0;
        
        .footer-info-heading {
            border-top: 0;
        }
    }

    .footer-info-col:last-child {
        margin-bottom: 1em;
        border-bottom: 1px solid stencilColor("pink");
    }

    .footer-info-list {
        display: none;
    }

    .footer-info-col.active {
        background: stencilColor("pink");
        
        .footer-info-list {
            margin-top: 1em;
            display: block;

            a {
                color: white;
            }

            li {
                margin: 0.5em 0;
            }
        }
    }

    .footer-copyright:last-child {
        margin-bottom: 1em;
    }

    .footer-link {
        margin: 0;
        text-decoration: none;

        .footer-info-heading {
            margin: 0;
        }
    }

    form {
        margin: 0 1.5em 2rem;
    }
}
