{{> components/products/filter sort=pagination.category.sort}}
{{#if category.subcategories}}
    <ul class="list-filter-container">
        <li class="list-item main-item"><a class="main-link" href="#">
            <div>
                Category
            </div>
            <img src="{{cdn 'img/downarrow.svg'}}" width="20px" height="20px" />

            <ul class="navList dropdown" data-facet="category">
                {{#each category.subcategories}}
                    <li class="list-item sub-item">
                        <a href="{{url}}" alt="{{name}}" title="{{name}}" data-category-id="{{id}}">
                            <div class="filter-circle{{#if selected }} selected {{/if}}"></div>
                            <div>
                                {{name}}&nbsp;<span>({{ product_count }})</span>
                            </div>
                        </a>
                    </li>
                {{/each}}
            </ul>
        </li>
    </ul>
{{/if}}
{{#if category.faceted_search_enabled}}
    {{> components/faceted-search/index category}}
    {{> components/faceted-search/filter-selected category}}
{{else}}
    {{> components/category/shop-by-price shop_by_price=category.shop_by_price category_url=category.url}}
{{/if}}
