---
blog:
    recent_posts:
        limit: {{theme_settings.homepage_blog_posts_count}}
---
{{#partial "page"}}
    <section class="page">
        <main class="page-content page-content--textCenter account-created">
            <h1 class="page-heading">Your account has been <br /> created successfully.</h1>
            <p>
                Thank you for creating your account at {{settings.store_name}}.<br />
                Your account details have been emailed to <strong>{{customer.email}}.</strong>
            </p>
            <a class="button button--primary" href="/shop/">{{lang 'create_account.created.continue'}}</a>
        </main>
    </section>
{{/partial}}
{{> layout/base page_content="login" show_ig_feed="show_ig_feed" }}
