---
blog:
    recent_posts:
        limit: {{theme_settings.homepage_blog_posts_count}}
---
{{#partial "page"}}
    <div class="account account--fixedSmall">
        <h2 class="page-heading">{{lang 'reset_password.heading' }}</h2>
        <p>{{lang 'reset_password.intro' }}</p>
        {{#if forms.forgot_password.error}}
            {{> components/common/alert-error forms.forgot_password.error}}
        {{/if}}
        <form action="{{urls.auth.send_password_email}}" class="form forgot-password-form" method="post">
            {{inject 'useValidEmail' (lang 'forms.validate.common.email_address')}}
            <div class="form-field">
                <input class="form-input" name="email" 
                id="email" type="email" formnovalidate placeholder="{{lang 'common.email_address'}}">
            </div>
            <div class="submit-btn">
                <input type="submit" class="button button--primary" value="{{lang 'reset_password.reset_button' }}">
            </div>
        </form>
    </div>
{{/partial}}
{{> layout/base page_content="login forgot-password" show_ig_feed="yes" page_title="Forgot Password"}}
