// =============================================================================
// ACCOUNT
// =============================================================================


// Account layouts
// -----------------------------------------------------------------------------

.account {
    color: stencilColor('navy');
    margin-bottom: spacing("single");
    .page-heading {
        @include breakpoint('medium') {
            text-align: left;
        }
    }
}

.forgot-password {
    .account .page-heading {
        text-align: center;
    }
}

.account--fixed {
    @include breakpoint("medium") {
        margin: 0 auto;
        width: grid-calc(10, $total-columns);
    }
    p {
        @include freight;
    }
}

.account--fixedSmall {
    @include breakpoint("medium") {
        margin: 0 auto;
        width: grid-calc(6, $total-columns);
    }
}

.account--fixedLarge {
    @include breakpoint("medium") {
        margin: 0 auto;
        width: grid-calc(9, $total-columns);
    }
}

.account-head {
    margin-bottom: spacing("double");
    text-align: center;

    .alertBox {
        padding-left: spacing("double");
        padding-right: spacing("double");
        text-align: left;
    }
}

.account__sidebar--outer {
    @include breakpoint('medium') {
        width: grid-calc(2, $total-columns);
    }
    h3 {
        @include domaine;
        margin: 3rem 0 2.25rem;
    }
}

.sidebar__nav {
    @include domaine('grey-2');
    font-size: 1.1rem;
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        > li {
            margin: 0;
            padding: 0;
        }
    }
    a {
        color: stencilColor('grey-2');
        line-height: 1.8;
        text-decoration: none;
        &:hover {
            color: stencilColor('navy');
        }
    }
}

.account-body {
    @include grid-row($behavior: "nest");
    margin: 0 auto;
}

.account-content {
    @include grid-column(12);
    padding-left: 0;
    padding-right: 0;
    &.orders-container {
        @include breakpoint('medium') {
            @include grid-column(8);
            padding-left: 0;
        }
        + .account-sidebar {
            @include breakpoint('medium') {
                @include grid-column(4);
            }
        }
    }
}

.account-content--fixed {

    @include breakpoint("medium") {
        width: grid-calc(8, $total-columns);
    }
}

.account-content--fixedSmall {

    @include breakpoint("medium") {
        width: grid-calc(6, $total-columns);
    }
}

.account-sidebar {
    @include grid-column(12);

    @include breakpoint("medium") {
        width: grid-calc(4, $total-columns);

        .account-content--fixedSmall + & {
            float: right;
        }
    }
}

.account-list {
    @include clearfix;
}

.account-listItem {
    @include freight;
    border-bottom: 0;
    border-top: 1px solid stencilColor('light-pink');
    a {
        // @include domaine(stencilColor('navy'), 300);
        // font-size: 2rem;
    }
}

.account-product {
    align-items: flex-start;
    display: flex;
    flex-flow: row wrap;
}

.account-product.top {
    align-items: flex-start;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-bottom: 1rem;
    @include breakpoint('medium') {
        flex-flow: row nowrap;
        justify-content: space-between;
    }
}

.account-order-body {
    flex: 1;
    margin-right: 1rem;
    @include breakpoint('medium') {
        width: 75%;
    }
}

.account-order-heading {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    padding: 0.5rem 0;
}

.account-order-actions {
    width: 100%;
    @include breakpoint('medium') {
        text-align: right;
        width: 25%;
    }
    .btn {
        font-size: 1rem;
        margin-bottom: 1rem;
    }
}

.account-product-figure {
    // flex: 1;
    margin: 0 2rem 2rem 0;
    max-width: 175px;
    width: 25%;
    @include breakpoint('medium') {
        margin: 0 2rem 2rem 0;
    }
    &:after {
        display: none;
    }
}

.account-product-info {
    flex: 1;
    .account-product-title {
        @include domaine;
        font-size: 1.5rem;
        font-weight: 300;
        line-height: 1.2;
    }
    .account-product-price {
        float: none;
    }
}

.body.account .container .go-back-link {
    @include sweet-font;
    display: block;
    font-size: 1.1rem;
    @include breakpoint('medium') {
        letter-spacing: 0.1em;
    }
}

.account-product-status {
    @include sweet-font;
}

.account-product-details {
    width: 100%;
}

.account-product-order-title,
.account-product-order-title a {
    @include sweet-font;
    font-size: 1.1rem;
    margin: 0;
    text-decoration: none;
}

.account-product-detail-heading {
    @include sweet-font(stencilColor('grey-2'), 300);
}

p.account-product-description {
    @include sweet-font(stencilColor('grey'), 300);
    font-size: 1.25rem;
    margin-bottom: 0;
}

.account-orderStatus-label {
    @include sweet-font(stencilColor('grey'), 300);
    background: transparent;
    padding: 0;
}

.account-orderTotal {
    clear: both;
}

/*
    ORDER DETAILS
*/

.page__type--account_order {
    .addresses__heading {
        @include sweet-font;
        font-size: 1.1;
        margin: 0;
        padding: 1rem 0;
    }

    .address-details,
    .definitionList-key {
        @include freight;
        color: stencilColor('navy');
    }
}

/*
    EDIT ACCOUNT
*/

.page__type--editaccount .form-label {
    color: stencilColor('navy');
}

/*
    ADDRESS BOOK
*/

.page__type--account_addressbook {

    .addresses__page {
        .form-actions {
            text-align: left;
        }
    }
    
    .addresses__heading {
        @include sweet-font;
        margin: 0;
        padding: 1rem 0;
    }

    .address-details {
        @include freight;
    }

    .page-heading {
        border-bottom: 1px solid stencilColor('light-pink');
        padding-bottom: 1rem;
    }

    .addresses__header {
        align-items: center;
        display: flex;
        justify-content: space-between;
    }

    .addressList {
        margin-left: 0;
        margin-right: 0;
        > li {
            padding: 1rem 0 0;
        }
    }

    .address-label {
        @include freight;
    }

}

/*
    RECENTLY VIEWED
*/

.account .recent-items {
    .productGrid {
        justify-content: flex-start;
    }
    .product {
        @include breakpoint('medium') {
            padding: 0 1rem 0 0;
            &:nth-child(4n+4) {
                clear: both;
            }
        }
    }
}

/*
    WISH LISTs
*/

.page__type--wishlists {
    .page-heading {
        border-bottom: 1px solid stencilColor('light-pink');
        padding-bottom: 1rem;
    }
    .wishlists-table {
        @include domaine;
    }
    .table--line .table-thead {
        border-color: stencilColor('grey-2');
    }
    .table thead tr th,
    .table thead tr td {
        font-weight: 400;
    }
    .table a:not(.btn) {
        color: stencilColor('grey-2');
    }

    .table {
        input[type="submit"] {
            -webkit-appearance: none;
            appearance: none;
            line-height: 1.5;
        }
    }

    .alertBox--info {
        @include freight;
    }

    .modal {
        transform: translate(-50%, -50%);
        h1 {
            @include domaine;
            color: stencilColor('navy');
        }
        p,
        .form-label {
            @include freight;
            color: stencilColor('navy');
        }
        small {
            @include sweet-font;
        }
    }
}