<section class="heroCarousel mobile"
    data-slick='{
        "arrows": {{arrows}},
        "dots": false,
        "mobileFirst": true,
        "slidesToShow": 1,
        "slidesToScroll": 1,
        "autoplay": false,
        "autoplaySpeed": {{carousel.swap_frequency}}
    }'>
    <div class="heroCarousel-slide mobile {{#if ../theme_settings.homepage_stretch_carousel_images}}stretch{{/if}} {{#if @first}}heroCarousel-slide--first{{/if}}">
        <div class="heroCarousel-image-wrapper" {{#and image_height image_width}}style="height: {{multiply (divide image_height image_width) 100}}vw"{{/and}}>
         <img class="heroCarousel-image" src="{{ cdn 'img/touch-mobile.jpg'}}" alt="{{alt_text}}" title="{{alt_text}}" />
         <div class="overlay">
            <h3 class="domaine-display">{{#replace 'Explore ' carousel.slides.0.heading}}{{/replace}}</h3>
            <a href="/touch/" class="btn btn__primary">Explore</a>
         </div>
         <p class="touch-texture domaine-display">{{{carousel.slides.0.text}}}</p>
        </div>
    </div>
    <div class="heroCarousel-slide mobile {{#if ../theme_settings.homepage_stretch_carousel_images}}stretch{{/if}} {{#if @first}}heroCarousel-slide--first{{/if}}">
        <div class="heroCarousel-image-wrapper" {{#and image_height image_width}}style="height: {{multiply (divide image_height image_width) 100}}vw"{{/and}}>
            <img class="heroCarousel-image" src="{{cdn 'img/taste-mobile.jpg'}}" alt="{{alt_text}}" title="{{alt_text}}" />
            <div class="overlay">
               <h3 class="domaine-display">{{#replace 'Explore ' carousel.slides.1.heading}}{{/replace}}</h3>
               <a href="/taste/" class="btn btn__primary">Explore</a>
            </div>
            <p class="taste-texture domaine-display">{{{carousel.slides.1.text}}}</p>
        </div>
    </div>
    <div class="heroCarousel-slide mobile {{#if ../theme_settings.homepage_stretch_carousel_images}}stretch{{/if}} {{#if @first}}heroCarousel-slide--first{{/if}}">
        <div class="heroCarousel-image-wrapper" {{#and image_height image_width}}style="height: {{multiply (divide image_height image_width) 100}}vw"{{/and}}>
         <img class="heroCarousel-image" src="{{cdn 'img/aroma-mobile.jpg'}}" alt="{{alt_text}}" title="{{alt_text}}" />
         <div class="overlay">
            <h3 class="domaine-display">{{#replace 'Explore ' carousel.slides.2.heading}}{{/replace}}</h3>
            <a href="/aroma/" class="btn btn__primary">Explore</a>
         </div>
         <p class="aroma-texture domaine-display">{{{carousel.slides.2.text}}}</p>
        </div>
    </div>
    <div class="heroCarousel-slide mobile {{#if ../theme_settings.homepage_stretch_carousel_images}}stretch{{/if}} {{#if @first}}heroCarousel-slide--first{{/if}}">
        <div class="heroCarousel-image-wrapper" {{#and image_height image_width}}style="height: {{multiply (divide image_height image_width) 100}}vw"{{/and}}>
        <img class="heroCarousel-image" src="{{cdn 'img/gaze-mobile.jpg'}}" alt="{{alt_text}}" title="{{alt_text}}" />
        <div class="overlay">
           <h3 class="domaine-display">{{#replace 'Explore ' carousel.slides.3.heading}}{{/replace}}</h3>
           <a href="/gaze/" class="btn btn__primary">Explore</a>
        </div>
         <p class="gaze-texture domaine-display">{{{carousel.slides.3.text}}}</p>
        </div>
    </div>
    <div class="heroCarousel-slide mobile {{#if ../theme_settings.homepage_stretch_carousel_images}}stretch{{/if}} {{#if @first}}heroCarousel-slide--first{{/if}}">
        <div class="heroCarousel-image-wrapper" {{#and image_height image_width}}style="height: {{multiply (divide image_height image_width) 100}}vw"{{/and}}>
        <img class="heroCarousel-image" src="{{cdn 'img/listen-mobile.jpg'}}" alt="{{alt_text}}" title="{{alt_text}}" />
        <div class="overlay">
           <h3 class="domaine-display">{{#replace 'Explore ' carousel.slides.4.heading}}{{/replace}}</h3>
           <a href="/listen/" class="btn btn__primary">Explore</a>
        </div>
         <p class="listen-texture domaine-display">{{{carousel.slides.4.text}}}</p>
        </div>
    </div>
</section>
