<ul class="list-filter-container">
        <li class="list-item main-item"><a class="main-link" href="#">
            <div>
                {{title}}
            </div>
            <img src="{{cdn 'img/downarrow.svg'}}" width="20px" height="20px" />
        </a>
            <ul class="dropdown">
                {{#if items}}
                    {{#each items}}
                        <li class="list-item sub-item">
                            <a href="{{url}}">
                                <div class="filter-circle {{#if selected }} selected {{/if}}"></div>
                                {{ title }}
                            </a>
                        </li>
                    {{/each}}
                {{else}}
                    <li class="list-item sub-item">
                        <a href="{{url}}">Not Available
                        </a>
                    </li>   
                {{/if}}
            </ul>
        </li>
    </ul>
    <li class="mobile-filter-title">
        <div class="name">
            <span>{{title}}</span>
            <span class="add-icon active">{{> components/common/plus-icon }}</span>
            <span class="minus-icon">{{> components/common/minus-icon }}</span>
        </div>
        
        <ul class="mobile-filter-list">
            {{#if items}}
                {{#each items}}
                    <li class="mobile-filter-item">
                        <a href="{{url}}">{{title}}
                            <div class="mobile-filter-circle {{#if selected }} selected {{/if}}"></div>
                        </a>
                    </li>
                {{/each}}
            {{else}}
                <li class="mobile-filter-item">
                    <a href="">Not Available</a>
                </li>  
            {{/if}}
        </ul>
    </li>
