
<ul class="list-filter-container">
    <li class="list-item main-item"><a class="main-link" href="#">
        <div>
            {{title}} 
        </div>
        <img src="{{cdn 'img/downarrow.svg'}}" width="20px" height="20px" />
    </a>
        <ul class="dropdown">
            {{#if items}}
                {{#each items}}
                    <li class="list-item sub-item">
                        <a href="{{url}}">
                            <div class="filter-circle {{#if selected }} selected {{/if}}"></div>
                            <div>{{title}} star & up</div>
                        </a>
                    </li>
                {{/each}}
            {{else}}
            <li class="list-item sub-item">
                <a href="">
                    <div>NOT AVAILABLE</div>
                </a>
            </li>
            {{/if}}
        </ul>
    </li>
</ul>

<li class="mobile-filter-title">
    <div class="name">
        <span>{{title}}</span>
        <div class="mobile-filter-icons">
            <span class="count-selected-filters active">0</span>
            <span class="add-icon active">{{> components/common/plus-icon }}</span>
            <span class="minus-icon">{{> components/common/minus-icon }}</span>
        </div>
    </div>
    
    <ul class="mobile-filter-list">
        {{#if items}}
            {{#each items}}
                <li class="mobile-filter-item">
                    <a href="{{url}}">{{title}} star & up
                        <div class="mobile-filter-circle {{#if selected }} selected {{/if}}"></div>
                    </a>
                </li>
            {{/each}}
        {{else}}
            <li class="mobile-filter-item">
                <a href="">Not Available</a>
            </li>  
        {{/if}}
    </ul>
</li>
