.secondary-menu {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.2);
  align-items: center;
  justify-content: center;
  margin: 0;
  list-style: none;
  display: none;
  
  @include breakpoint("medium") {
      display: flex;
  }

  &:not(.search-menu) {
      .secondary-menu-item {
          display: flex;
          justify-content: center;

          &.home-item {
              flex-grow: 1;
              flex-basis: 0;
          }
      }  
  }

  .secondary-menu-item {
      cursor: pointer;

      .secondary-menu-item-link {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          text-align: center;
          align-items: center;
          height: 100%;
          text-decoration: none;
          flex: 1;
          .secondary-menu-img {
              width: 19px;
              height: 30px;
              background-position: center;
              background-repeat: no-repeat;
              background-image: url('../img/moonicon.png'); 
              background-size: cover;
          }
  
          .secondary-menu-name {
            margin: 0;
            font-size: 1.25rem;
            letter-spacing: 2px;
            text-transform: uppercase;
            font-family: stencilFontFamily("sweet-font");
            text-decoration: none;
            color: stencilColor("navy");
            font-weight: 300;
            padding: 2rem 0;
            position: relative;
            transition: all .3s;
          }
      }

      &.active {
        background-image: none;
      }
  }

  &.search-menu {
      display: flex;
      position: initial;
      justify-content: stretch;
      flex-direction: column;

      &.hide {
          display: none;
      }
      
      .secondary-menu-item {
          width: 100%;
          min-height: 96px;
          display: inline-flex;
          justify-content: center;

          .secondary-menu-item-link {
              height: auto;
          }
          .secondary-menu-img {
              background-image: url('../img/moonbicon copy.png'); 
          }

          .secondary-menu-name {
              color: stencilColor("navy");
          }
      }

      .secondary-menu-item:nth-child(odd) {
          border-right: 1px solid rgba(217, 217, 217, 0.5);
      }
  }

}

.texture {
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
}

.touch-texture {
  background-color: stencilColor('light-pink');
  background-image: url('../img/touch-texture.jpg');

  &:hover {
    background-image: none;
    background-color: stencilColor("color-touch");
  }
}

.taste-texture {
  background-color: stencilColor('desert-tan');
  background-image: url('../img/taste-texture.jpg');

  &:hover {
    background-image: none;
    background-color: stencilColor("color-taste");
  }
}

.aroma-texture {
  background-color: stencilColor('color-aroma');
  background-image: url('../img/aroma-texture.jpg');

  &:hover {
    background-image: none;
    background-color: stencilColor("color-aroma");
  }
}

.gaze-texture {
  background-color: stencilColor('color-gaze');
  background-image: url('../img/gaze-texture.jpg');

  &:hover {
    background-image: none;
    background-color: stencilColor("color-gaze");
  }
}

.listen-texture {
  background-color: stencilColor('color-listen');
  background-image: url('../img/listen-texture.jpg');

  &:hover {
    background-image: none;
    background-color: stencilColor("color-listen");
  }
}
