<main class="page__hero page__hero--outer" style="background-image: url({{cdn 'img/hero-couples-kit-experience.png'}});">
   <div class="container page__hero--inner">
      {{#if brand}}
      <div class="page__hero--branding">
         <img src="{{cdn 'img/brand-couples-kit.png'}}" alt="">
      </div>
      {{/if}}
      {{#if title}}
      <h1 class="page__hero--heading domaine-display">{{ page.title }}</h1>
      {{/if}}
      {{#if subheading}}
      <p class="page__hero--subheading rollerscript">{{subheading}}</p>
      {{/if}}
      {{#if arrow}}
         <img src="/assets/img/hero-arrow.svg" alt="" class="page__hero--arrow">
      {{/if}}
   </div>
</main>