<ul class="productGrid">
    {{#if featured_category}}
        {{#if order '==' 'first'}}
        {{#each products}}
        {{#contains (join category ' , ') 'Shop/Toys/Kegel'}}
            <li class="product">
                {{>components/products/card settings=../settings show_compare=../show_compare show_rating=../settings.show_product_rating theme_settings=../theme_settings customer=../customer event=../event position=(add @index 1)}}
            </li>
        {{/contains}}
        {{/each}}
        {{else}}
            {{#each products}}
            {{#contains (join category ' , ') 'Shop/Toys/Kegel'}}
            {{else}}
                <li class="product">
                    {{>components/products/card settings=../settings show_compare=../show_compare show_rating=../settings.show_product_rating theme_settings=../theme_settings customer=../customer event=../event position=(add @index 1)}}
                </li>
            {{/contains}}
            {{/each}}
        {{/if}}
    {{else}}
        {{#each products}}
        <li class="product">
            {{>components/products/card settings=../settings show_compare=../show_compare show_rating=../settings.show_product_rating theme_settings=../theme_settings customer=../customer event=../event position=(add @index 1)}}
        </li>
        {{/each}}
    {{/if}}
</ul>
