<section class="page__pullquote page__pullquote--outer text-{{textcolor}} background-{{background}}">
   <div class="container page__pullquote--inner">
      {{#if heading}}
         <h1 class="page__pullquote--heading domaine-display">{{nl2br heading}}</h1>
      {{/if}}
      {{#if subheading}}
         <p class="page__pullquote--subheading rollerscript">{{subheading}}</p>
      {{/if}}
      {{#if arrow}}
         <img src="/assets/img/hero-arrow.svg" alt="" class="page__pullquote--arrow">
      {{/if}}
      <div class="divider"></div>
   </div>
</section>