.page__home {
   &.page-content {
      float: none;
      margin-bottom: 3rem;
      text-align: center;
   }
   .page__pullquote {
      .divider {
         border-color: stencilColor('pink');
      }
   }
}

.home.stories-landing {
   .slick-slide {
      height: auto;
   }
   .btn__wrapper {
      padding: 0 0 2rem;
      text-align: center;
      width: 100%;
   }
   .story__archive--outer {
      background: stencilColor('off-white');
      padding-bottom: 3rem;
      .btn {
         display: inline-block;
         margin: 0 auto;
      }
   }
}